[2020-03-09 21:52] robjohnnoble opened #2 "Rounding"
A minor issue: Peak hospitalisations should be given to the nearest integer (i.e. "Number of individuals") in the lower bar chart, in which the other variables are already rounded. I think you could do this by adding `round()` on line 40 of `PlotAgeAndParams.tsx`. Relatedly, `agesFrac` in the upper bar chart could be given to fewer significant figures.

[2020-03-10 08:52] Beckicious opened #3 "aux folder name"
The folder/file name "aux" is forbidden in windows.
Could you rename it?

[2020-03-10 11:49] nnoll commented on #2
Thanks Rob! Both issues should be fixed on master now.

[2020-03-10 11:49] #2 closed

[2020-03-10 20:52] #3 closed

[2020-03-10 20:53] ivan-aksamentov commented on #3
HI @Beckicious,
I resolved it in https://github.com/neherlab/covid19_scenarios/commit/b0d0abb27816da868a5eb4f3552530d8ef06f5da

Thanks for reporting!

[2020-03-11 22:18] WalkerWalker opened #4 "What's the meaning of Imports per Day?"
Thanks for the model and the simulation. That's amazing.

Some explanation would be nice for non-research folks.  For example, What's the meaning of Imports per Day? Thanks!

[2020-03-11 22:23] WalkerWalker opened #5 "Adding a legend "ICU beds""
Hopefully a legend "ICU beds" can be added.  I guess it's important to compare ICU beds with critical?

[2020-03-12 09:08] WalkerWalker opened #6 "Modeling exposed individuals can also infect others with certain probability"
Again thanks for the project.  Yet another suggestion and by no means it is a priority. I've read from various sources that the exposed individuals, who have no symptoms, can also infect others.  With what probability I don't know.  Maybe this can be another reasonable parameter.

Thanks!

<img width="988" alt="Screen Shot 2020-03-12 at 1 51 03 PM" src="https://user-images.githubusercontent.com/84

[2020-03-12 13:31] patrickturko opened #7 "Death rates should increase when ICU's are overwhelmed"
For simplicity all age classes could be randomly assigned to an ICU bed. When bed space is exceeded, the fatality rate of remaining severe / critical cases should increase.

The number of ICU beds should also be editable. In Switzerland we have [1000 beds, total](https://www.luzernerzeitung.ch/news-service/inland-schweiz/intensivstationen-wappnen-sich-fuer-das-schlimmste-szenario-ld.1203245), not

[2020-03-12 21:57] robjohnnoble opened #8 "Results unexpectedly depend on time span"
A UZH colleague of mine, Barbora Trubenova, has spotted that the model results depend on the chosen time window. For example, with default parameter values, the default time span until 12th September 2020 predicts 484 cumulative deaths by 1st August 2020. Changing the time span to 15th May 2021 changes the prediction to 920 deaths by 1st August 2020. The same applies to all other predicted values

[2020-03-13 05:41] robjohnnoble commented on #8
Klaus Peper has explained on twitter that ,"Changing time span automatically changes dates of interventions which has massive effect. Not a bug in a narrower sense but an effect that easily could be overseen." I can see why you might decide to do this but it's not the behaviour I expected. Three of us (all mathematical biologists) concluded this was a bug. Perhaps at least a note could be added to

[2020-03-13 07:18] rneher commented on #8
Thanks Rob. I agree its unexpected. We noticed this yesterday and added a note to alert users to this. We'll try to change this today.

[2020-03-13 08:24] robjohnnoble commented on #8
One option would be to integrate the tools for setting timespan and mitigation schedule by modifying the interactive plot with the moveable black dots. First, fix the time range of this plot to the maximum permitted values (e.g. 1st March 2020 to 1st March 2021). Second, add sliders for setting the start and end dates of the model output. A bonus is that then you no longer need a separate calendar

[2020-03-13 13:55] robjohnnoble opened #9 "Typo"
"Severly ill" should be "Severely ill" in the "Cases through time" figure legend.

[2020-03-13 14:28] rneher commented on #4
Thanks for the suggestion!
We now have little explanation buttons for each field. I hope this addresses the issue.

[2020-03-13 14:28] #4 closed

[2020-03-13 16:37] WalkerWalker commented on #4
absolutely Thansk!

[2020-03-13 21:12] rneher commented on #5
thanks. this should partially addressed in f4691f4550114217ccd168a5e8d318cda7af0a24.
numbers for switzerland might not representative though.
We'll look into adding numbers of other countries.

[2020-03-13 21:12] #5 closed

[2020-03-13 21:12] rneher commented on #9
thanks. should be fixed in 907f934fb0e6608ca20fdb9b6cb4581fd2fb27c8

[2020-03-13 21:12] #9 closed

[2020-03-13 21:15] rneher commented on #8
this merge b553df91a408415040e26ee46752543f6659ca71 should fix this. We now resample the linear interpolation of the previous mitigation curve. that still might result in small differences due to interpolation errors. But should be a lot closer to what you expect.

Thanks again for bringing it up. This was definitely unexpected behavior and needed fixing.

[2020-03-13 21:15] #8 closed

[2020-03-13 21:17] rneher commented on #6
This is an interesting idea. We are effectively interpreting 'I' as infectious rather than symptomatic.

[2020-03-13 21:18] rneher commented on #7
I added 1000 ICU + 400 ICM beds to the graph.

[2020-03-14 03:18] aeon-lakes opened #10 "Bed numbers should be editable"
Please allow us to edit hospital beds and ICU beds.

I'm trying to get ventilated beds expanded in my institution in anticipation of an onslaught. Switzerland is doing well for ICM beds in comparison to my home country, we have far fewer. Being able to show our own nation's Total Hospital Beds and ICU beds overwhelmed under different scenarios would be useful for those of us who have to persuade t

[2020-03-14 21:07] pinanunes commented on #10
Great work,

I would second this request (actually the big question now). Adding total beds or beds per 100.000 and add a transition rate between C and D with ICU and C and D' for critical cases above number of available beds.
For default values per country this sources can be used:
https://link.springer.com/article/10.1007/s00134-012-2627-8
https://gateway.euro.who.int/en/indicators/hfa_479-5061-

[2020-03-14 21:20] rneher commented on #10
thanks for the reference. we'll try to make these numbers available through the app asap

[2020-03-14 21:42] aeon-lakes commented on #10
'ICM/ICU beds' overstates capacity. There are generally less ventilated beds than physical beds in an Intensive Care Unit. Given the numbers of critically ill with SARS/ARDS COVID-19 produces and their subsequent long ICU stay, the important number is really _ventilated beds_ rather than ICM/ICU beds. Once ventilator capacity is occupied, it is the critically ill in excess of that number (that nee

[2020-03-14 22:17] pinanunes commented on #10
I must agree with @aeon-lakes. Maybe is better to have it as a value or even as a time-dependent value as used on mitigation.

[2020-03-15 09:15] aeon-lakes commented on #10
This paper: https://www.nejm.org/doi/full/10.1056/NEJMoa2002032
Suggests 2.3% of treated COVID-19 patients or around half of ICU patients were invasively ventilated. It doesn't state whether ventilation was indicated for more, but that's a ballpark figure to calculate ventilator demand? Cases above that calculated number would become deaths.

[2020-03-15 11:12] pinanunes opened #11 "❗[IMPORTANT] Import scenarios"
I believe you might have that on the roadmap since there is an option to export.
It would be great to name and compare scenarios with simple KPI.

[2020-03-15 17:01] rneher commented on #10
We have added fields now. Thanks for the pointers. We'll clean up the input data and hopefully have a table that can be readily extended. Making the fatality rate a function of load is on the list!

[2020-03-15 17:02] rneher commented on #11
Yes, import is on the map. But what is KPI?

[2020-03-15 18:44] WalkerWalker commented on #5
thanks!

[2020-03-15 18:49] WalkerWalker commented on #6
Thanks for the reply.  I think taking the fact "exposed individuals, who have no symptoms, can also infect others" into account is important.

[2020-03-15 19:13] pinanunes commented on #11
Sorry. Key Process Indicators or main outcomes of the scenarios that can be the Total/peak figures

[2020-03-15 20:17] kapawlak opened #12 "Strong Mitigation Scenario Crashes Page"
Instant crash. Running on Chrome Version 80.0.3987.132 (Official Build) (64-bit Windows)

![one](https://user-images.githubusercontent.com/29474019/76709850-50497700-66bf-11ea-82be-161eee2f573d.png)

![errrrr](https://user-images.githubusercontent.com/29474019/76709848-4fb0e080-66bf-11ea-909c-89dbc89bb80f.png)

[2020-03-15 20:59] rneher commented on #12
thanks, Kelly! should be fixed now (might need hard reload) in commit adb6bbc4fe6d6e5b25eb225e8e98d0041c776fb2

[2020-03-15 20:59] #12 closed

[2020-03-16 05:31] #10 closed

[2020-03-16 21:28] aeon-lakes commented on #7
Randomising all ages doesn't appropriately model physician behaviour. In a disaster that exceeds capacity we go full-on utilitarian and assign for maximum benefit. The young and previously fit are prioritised as they are most likely to survive with treatment; take the least time to recover; and have the most lifespan to lose if untreated.

In the situation where Critical Care is overwhelmed the de

[2020-03-16 22:01] ivan-aksamentov commented on #7
Hi @patrickturko @aeon-lakes ,

We are thinking about adding some more realism to the algorithm, and I like both of these suggestions very much.

Please keep the ideas coming! :bulb:

[2020-03-16 22:03] heuermh opened #13 "Improve desktop user experience"
Thank you for this useful resource!  Unfortunately it is rather difficult to work with in the web browser because of the rigid boxy layout.  Labels, values, and column headers are truncated and/or difficult to read.

Please consider a more flexible web layout; perhaps moving the Results box to the bottom might help.

[2020-03-17 10:10] rneher opened #14 "Specify mitigation scenarios as intervals"
In some situations, it might be more convenient to specify the mitigation scenarios as time intervals:
[code]
The data structure for this would work just about the same way as a time series of adjacent intervals, the main difference would be UI. Need to think about how to enforce that intervals tile time.

[2020-03-17 10:12] rneher opened #15 "Fix plot rendering on mobile"
The results plot on mobile is squished in portrait mode.

[2020-03-17 10:54] ivan-aksamentov commented on #15
Potential solutions include:

 * having a button to open plots in a separate "screen"  (e.g. modal popup) which render the plot in landscape orientation on mobile
 * force mobile users with screen width below  a given threshold to landscape mode at all times (bad)

[2020-03-17 11:03] ivan-aksamentov commented on #14
I was thinking about making the containment (mitigation) plot into a sort of a bar chart:

 * bar width corresponds to the time interval
 * bar height is the value
 * click on the bar (or on its continuation above the upper edge of it) adjusts the value
 * optionally, click and drag will display the date and the value being adjusted, for better UX
 * this would work for any time-aware parameter.

[2020-03-17 11:20] ivan-aksamentov commented on #13
Hi @heuermh ,
Yes, the user experience is currently suboptimal, especially on any screen that is smaller than a typical 1080p. Having only limited amount of resources, we primarily focused on the tool to be useful, but now we are definitely want to invest into making it prettier and to improve usability.

Currently we use `bootstrap` (more specifically, `reactstrap`) for the grid layout, so on sma

[2020-03-17 11:26] ivan-aksamentov commented on #11
Hello @pinanunes ,

This is something currently in the works on the branch [`feat/compare-rebased-2`](https://github.com/neherlab/covid19_scenarios/tree/feat/compare-rebased-2). As you see, the branch had a number of rebases already,  we aren't quite sure yet how exactly to display the results being uploaded/compared.

For your use-case:

 * What kind of uploading/comparison workflow you imagine w

[2020-03-17 11:51] ivan-aksamentov opened #16 "Update the Github repository to match modern standards of open-source software"
This may include:
 - Improve readme, add more details on how to run the app in dev and prod mode, in docker or without
 - Add Contributing guide
 - Add Code of conduct
 - Add Issue templates
 - Add Pull request template

See also:
  - https://opensource.guide/

[2020-03-17 11:53] ivan-aksamentov opened #17 "IMPORTANT: Autorun: run the algorithm and update the plots automatically without clicking on Run button"
This may include:

  - debounce `run()` calls
  - hide feature behind the checkbox, disabled by default

Issues:

 * `formik` does not allow to subscribe to the form state changes. It requires submit to be called
 * `formik` does not expose the form state. We currently grab the state in validation callback, which arguably, is a hack
 * `formik` seem to be re-rendering the entire form on changing a

[2020-03-17 12:08] ivan-aksamentov opened #18 "Questions, discussions"
# COVID-19 scenarios: questions and discussions

---

<h1 align="center">
ANNOUNCEMENT
</h1>

<p align="center">
We have a new chat channel, and we'd prefer to move all the conversations there
  <a
    alt="Link to join the chat"
    href="https://spectrum.chat/covid19-scenarios/general/questions-discussions~8d49f461-a890-4beb-84f7-2d6ed0ae503a"

    <img
      alt="Image for the link to join the

[2020-03-17 12:19] ivan-aksamentov opened #19 "Add tests"
In order to perform refactoring and to add new features with more confidence, we need unit, integration and end-to-end tests for:

 * algorithm parts

 * React parts - components and pages

 * Redux parts - state management: reducers and sagas

The infrastructure:

 * `jest` and `@testing-library`are already set up. Ready to run some tests

 * `cypress`is planned for e2e tests

 * We plan either T

[2020-03-17 12:25] ivan-aksamentov opened #20 "Fix rendering in Internet Explorer"
We target to support browsers starting with Internet Explorer 10, and other browsers of the same era.

Currently Internet Explorer is broken, despite us [transpiling](https://github.com/neherlab/covid19_scenarios/blob/master/babel.config.js) the code and having [many polyfills](https://github.com/neherlab/covid19_scenarios/blob/master/src/index.polyfilled.ts)

[2020-03-17 13:17] ivan-aksamentov opened #21 "Setup proper infrastructure and continuous integration"
We need to figure out at least the basic infrastructure:
 - automated builds and deployment to production from `release` branch
 - automated builds and deployment to staging from `master` branch
 - automated builds and deployment of pull requests

TODO:
 - create domain names for production and staging
 - setup Travis or CircleCI, deploy on pushes

[2020-03-17 13:27] ivan-aksamentov opened #22 "Crowdsource case counts data"
We want case counts data to be updated from the current situation.

We may:
 * have a dedicated directory or even repository for this data
 * put data into `.tsv` files per location (country, city, etc.), e.g. `CH-Basel-Stadt.tsv`
 * the .tsv files will contain the following columns:

[code]
 * maintain a JSON file for mapping between name of the region and the corresponding `.tsv` file
 * serve t

[2020-03-17 13:32] ivan-aksamentov opened #23 "Reduce bundle size"
Current bundle size is huge, ~10 MBytes before gzip

 - investigate Home.js bundle size
 - trim and tree-shake libraries
 - add more code splitting

The bundle analyzer can be run with `yarn alalyze` or `yarn alalyze:watch`.

[2020-03-17 13:34] ivan-aksamentov opened #24 "Parse for Italian case counts data and integrate this data into the app"
We want to have the most up-to-date case counts data.

The case counts for Italy are available at:
https://github.com/pcm-dpc/COVID-19/blob/master/dati-json/dpc-covid19-ita-regioni.json

We need to parse this into our `.tsv` format and load it into the application.

[2020-03-17 13:39] pinanunes commented on #11
Hello @ivan-aksamentov ,

I would say we have 3 major outcomes we want to compare between scenarios either in absolute or relative numbers to a basic scenario:
1-Number of deaths
2- Number of cases
3- Peak value of critical cases

One option would be to save server-side on the session several scenarios with a "Add to compare" button where you would name the scenario. On a different tab, you would

[2020-03-17 14:16] ivan-aksamentov opened #25 "Add popup on startup"
We want to add an initial modal popup with a sort of a "user agreement" info, and consent

 * non-liability disclaimer
 * eventually, GDPR compliance info and consent
 * eventually, local storage or cookies options, when we have those

[2020-03-17 19:13] Simulator1985 opened #26 "Including distribution of Latency & Infection period"
"Latency" & "Infection Period" in reality are not a single value but have pretty wide distribution what can impact the results significantly. Similar to Age distribution used for evaluation you can incorporate a simple histogram or function based distribution for  both terms.

But great Job, congratulations

[2020-03-17 19:14] nnoll opened #27 "Inconsistent country names"
As pointed out by Marek Basler, there are inconsistent names for the same country that lead to the simulation not running and case counts not displaying. The example given was the Czech Republic vs Czechia. This reflects the fact that our json files are pulled from different data sources.

[2020-03-17 20:53] nnoll commented on #7
I've started a new branch feat/hospital-bed-model that starts to address this. Right now we model this by a non-linear function that models an increase in death rate as a function of total ICU capacity. Some more work on its realism is probably needed.

[2020-03-17 22:25] nnoll opened #28 "Broken link"
The link to the Chinese CDC data from which our severity data is broken.

[2020-03-17 23:02] aeon-lakes commented on #7
I think it needs two values for ICU. Total ICU beds and Ventilated Beds.

All Critically Ill should be assigned an ICU bed. Around half of those (I don't have decent numbers, anyone?) should be made 'require ventilation'. If 'require ventilation' > ventilated beds then the excess should be assigned to Deaths. Once assigned a ventilated bed, survivors from that cohort should occupy the bed for 14 d

[2020-03-18 04:18] UnforbiddenYet commented on #17
@ivan-aksamentov you may check out [the Fokmik's author answer](https://github.com/jaredpalmer/formik/issues/1218#issuecomment-500225537) to the same question where he suggests the possible solution for auto form submission.

As for the optimization, I'd say using the [`<FastField/>`](https://jaredpalmer.com/formik/docs/api/fastfield) or custom [hook-based](https://github.com/jaredpalmer/formik/is

[2020-03-18 05:39] Shrinidhikulkarni7 commented on #21
Can we use Github actions instead of travis or CircleCI?

[2020-03-18 06:22] hMutzner opened #29 "R0"
The label "Annual average R₀" does not seem to be  correct.
R₀ is defined as the number of infections per case. It's not annual.

[2020-03-18 06:34] WeileiZeng opened #30 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-18 13:33] nnoll opened #31 "Link to previous scenarios"
It would be great for people to link to custom configured scenarios via a dynamically generated URL. This would allow people to easily share their results.

[2020-03-18 13:37] nnoll commented on #29
Our model takes into account seasonality explicitly and thus the average R_0 is modulated over the year. The annual average R_0 is the set line about which we assume seasonality oscillates. See the about page for more details. Thanks for your help!

[2020-03-18 13:37] #29 closed

[2020-03-18 13:48] jsmith commented on #23
Hey @ivan-aksamentov I saw the `help-wanted` label and thought I would take a look. To start, I just decided to look for unused dependencies and actually found several (or in the case of `mathjs`, minimally used). The total size of these packages is ~`4.2MB` before being gzipped. I realize that sometimes dependencies will seem unused and I tried my best to to avoid these packages. I created a [bra

[2020-03-18 15:08] ivan-aksamentov commented on #28
Yes, this is a very slow link to a website in mainland China, and sometimes it breaks.
We need to see if it can be replaced with a link to an archived snapshot.

[2020-03-18 15:19] ivan-aksamentov commented on #30
@WeileiZeng Thanks, this is awesome!

[2020-03-18 16:14] nnoll opened #32 "Broken direct link to about page."
Attempting to directly navigate to https://neherlab.org/covid19/about displays a page about a broken link.

[2020-03-18 16:32] rneher commented on #32
this the result of our current hosting (non)-solution.
https://neherlab.org/covid19/about
goes straight to cloudfront by-passing the app.

[2020-03-18 18:04] MarcelloPerathoner opened #34 "Equation error in https://neherlab.org/covid19/about"
Not sure if this is the right place to report but on https://neherlab.org/covid19/about the differential equation for ```dRa(t) / dt``` should end with ```(1 - ca) Ha(t) / th```.

[2020-03-18 18:17] rfonseca commented on #18
Hi, what data do we need to get to add a country to the tool? I'm thinking of Brazil, but this is a general question.

[2020-03-18 18:25] ivan-aksamentov commented on #32
This should go away when we deploy to the root of a domain.
Don't want to spend time fixing the temp solution.

[2020-03-18 18:26] ivan-aksamentov commented on #34
@MarcelloPerathoner thanks for the report!
@rneher and @nnoll will investigate it soon.

[2020-03-18 18:29] Adriano-Pinter opened #35 "Why when I increase the "infectous period" it flatters the curve?"

[2020-03-18 18:29] ivan-aksamentov commented on #31
This will either require:

  * encoding the entire scenario state in URL params

  * a backend to store the results (which is not impossible with the community efforts)

Similar alternative solution is "import". In this case users can share the param file and/or results file(s).

Related:
 - https://github.com/neherlab/covid19_scenarios/issues/11

[2020-03-18 18:30] Adriano-Pinter commented on #35
Why when I increase the "infectous period" it flatters the curve?

[2020-03-18 18:31] rneher commented on #34
Thanks, should be fixed in 18e277563944ca8f7deef255b9f117143031357a. Will up with the next deploy.

[2020-03-18 18:31] #34 closed

[2020-03-18 18:33] rneher commented on #35
Increasing the infectious period at fixed R0 implies that the infectious cycle is slower, flattening the curve. This might be unintuitive but is expected.

[2020-03-18 18:33] #35 closed

[2020-03-18 18:37] Adriano-Pinter commented on #35
This is really unintuitive....     I guess in real life if a infectous period is larger the R0 increases...  I ll try to play with both indicators, instead only with Infectous period.

[2020-03-18 18:37] Adriano-Pinter commented on #35
Thanks!

[2020-03-18 19:01] ivan-aksamentov opened #36 "Add data contributor's guide"
I think we can make a little guide for data contributors and curators.

Rough example of the guide:

[code]

[2020-03-18 19:05] ivan-aksamentov commented on #18
@rfonseca
Hi Rodrigo, that would be fantastic!

We are currently trying to make data pipe move convenient for external contributors.

The work is done on branch [`feat/crowdsource-data-submodule`](https://github.com/neherlab/covid19_scenarios/tree/feat/crowdsource-data-submodule)

This include:

  - "crowdsource"- allow people to easily add and modify the data
  - "submodule" - move intermediate d

[2020-03-18 19:19] ivan-aksamentov commented on #23
@jsmith Hi Jacob,

Thanks so much for the detailed report!

Yep, most of them are no longer used. I think some of these might be the peer deps.

I would definitely keep `redux-saga-test-plan` for testing sagas, that will be hopefully coming  soon(ish).

Have you noticed any improvements in bundle size (`yarn analyze`)?
If this builds and works (`yarn dev`, `yarn prod`), feel free to submit a PR!

[2020-03-18 19:24] ivan-aksamentov commented on #17
@UnforbiddenYet
Hi Dmytro,
Thanks so much for the info. I will look into the Jared's example and the `FastField`.

[2020-03-18 20:28] ivan-aksamentov opened #37 "Track data sources"
We need a mechanism to track data sources in order to properly acknowledge the authors and make the overall setup more open and reproducible.

I propose to centralize the tracking in a `.json` file which would contain at least:

 - urls: direct links to the source data file(s) that can be one of:
      * `string` - source URL of a single file
      *  `object` - with name of the source file as a k

[2020-03-18 20:31] kmid5280 commented on #18
Hello. I was attempting to explore your application but am having trouble starting it. I followed the installation steps as outlined in the readme. When I run 'yarn dev', I get an error in the console that says 'error Command "dev:nowatch;" not found. Did you mean "dev:nowatch"?' I'm running Windows 10 and installed yarn version 1.22.4 using the downloadable .msi file from the yarn site. Yarn is s

[2020-03-18 20:34] ivan-aksamentov opened #38 "Support developing on Windows"
Currently we only support Unix-based platforms and the dev configuration contains some Unix-isms that Windows cannot digest.

We want to support running the app on windows as well, to reach more contributors.

See also:
 - https://github.com/neherlab/covid19_scenarios/issues/18#issuecomment-600847215

[2020-03-18 20:39] ivan-aksamentov commented on #18
Hi @kmid5280 ,

All of us currently running Linux and there are few Unix-isms still in the config.

I created issue to support Windows: https://github.com/neherlab/covid19_scenarios/issues/38

Meanwhile you may want to take a look at the chain starting from `dev` command in `package.json`. It refers to `nodemon` config file here: `config/nodemon/dev.json`.
Note the `exec` string. Maybe Windows doe

[2020-03-18 20:58] kmid5280 commented on #18
@ivan-aksamentov Thanks for the response. I have Docker installed already, so I attempted this method using the above command. It gave me the error 'error An unexpected error occurred: "EIO: i/o error, scandir '/code/node_modules/node-sass/node_modules/glob-parent'".

I thought the same thing you did re: the exec string in the dev.json file, in that it may be a syntax problem. Any suggestions on h

[2020-03-18 21:04] ivan-aksamentov commented on #18
@kmid5280
The docker error is strange. Try to remove `node_modules` `.build` and `.cache` directories and try again.

Without docker, for the time being you can try to run:
[code]

Alternatively, try to run all these commands  in `exec` string separately. `dev:nowatch` is just another script in `package.json` (it runs the second command above).

[2020-03-18 21:07] ivan-aksamentov commented on #6
Hi @WalkerWalker, I will close this issue for now, but let us know in #18 if you have more questions or suggestions!

[2020-03-18 21:07] #6 closed

[2020-03-18 21:54] rneher commented on #7
We implemented a first version of this escalation of fatality. If the number critically ill people exceeds the available ICU beds, the rate at which people in need of ICU but without access to ICU die is increased. this was merged in 77ab0db5d2887d6bf8dd2c82841609f9868d0c25

[2020-03-18 21:54] #7 closed

[2020-03-18 22:00] keithloise opened #42 "Global data"
Commended for great work!

Wondering if you have a global data of this?

[2020-03-18 22:37] kmid5280 commented on #18
@ivan-aksamentov Running 'cross-env NODE_ENV=development BABEL_ENV=development babel-node node_modules/.bin/webpack-dev-server --config config/webpack/webpack.client.babel.ts' produces the error ''babel-node' is not recognized as an internal or external command, operable program or batch file.' Adding the babel-node package via 'yarn add babel-node' doesn't change the error.

Running 'yarn dev:now

[2020-03-18 22:51] alfredorevilla commented on #18
Hi @ivan-aksamentov, can you provide a couple of samples of Unix-isms that Windows cannot digest as mentioned in #38 ?

Regards.

[2020-03-18 23:57] ivan-aksamentov commented on #18
@alfredorevilla I think it may be these semicolumns in the nodemon's `exec`:

https://github.com/neherlab/covid19_scenarios/blob/master/config/nodemon/dev.json#L32

Maybe there's something else. But I cannot investigate this right now.
Also, check the error messages @kmid5280 encountered above.

[2020-03-19 03:56] jamesgecko commented on #38
Carrying over the conversation from that ticket, this line is indeed problematic.
https://github.com/neherlab/covid19_scenarios/blob/00a3b2f3337abc05a78ad339898d30b099316cce/config/nodemon/dev.json#L32

It's an easy fix; that last bit of the command should look like `yarn dev:nowatch ; true"`, with a space before the semicolon.

The next thing making the Windows build fail is that `package.json` i

[2020-03-19 08:32] ineiti opened #43 "Proportions / Outcome is not updated"
The second-last column, proportions/outcome, is not updated with the simulated values. E.g., Fatal is always at 0.81 percent, even when switching between "no mitigation" and "strong mitigation".

[2020-03-19 09:08] MarcelloPerathoner opened #44 "Default time range of simulation should be ETA of vaccine"
~18 month is the ETA of the vaccine. That seems like the most natural time range to simulate.

[2020-03-19 09:36] ribrault commented on #18
Hi,
thanks a lot for this web app, very useful indeed.
From what I got from the severity assumptions table, ca. 90% of severe infections occur in people aged over 60. I'd be very interested in seeing what happens in a scenario where this age class (>60), as a population specifically at risk, would be "confined" for their protection, while the remaining would not be. (such a scenario would certainl

[2020-03-19 12:42] rneher commented on #18
@ribrault This is possible. there is a column `isolation` in the severity table at the bottom left in which you can enter values that specify how much different age groups are separated from the bulk of the population

[2020-03-19 13:17] ribrault commented on #18
Indeed. Thanks. I was using a web browser (Safari) where editing of this table was not supported. Adding a warning when parameter editing is not supported by the browser would be helpful.

On the simulations: it looks like confining the population at risk (e.g. > 60 yo) while partly releasing confinement of the rest of the population allows to avoid ICU overflow and to importantly reduce the total

[2020-03-19 14:23] ivan-aksamentov commented on #44
@MarcelloPerathoner
Hi Marcello,

Yes it might be a reasonable default if you want to predict the grand totals towards the end of the pandemic.

However the most "interesting" part of the outbreak will be unrolling in the coming weeks to months and we want to put emphasis on how mitigation/containment measures influence the numbers around the peak. Also, showing longer intervals make plots quite c

[2020-03-19 15:57] darwinbandoy commented on #18
My computed reproductive number is 2.5 for the Philippines with temperatures around 28 degree celsius. I don't this will share the seasonality of other diseases. The default seasonality I suggest should be zero.

[2020-03-19 16:03] DanielZug commented on #18
@ribault, I had very similar thoughts and it's great to have this simulation tool available to play with! I'm quite unhappy about the prospect of living / working with the restrictions in place for many months to come and desperately look for an exit strategy. (Of course, in the current situation, we must at first get the outbreak under control before anything else.)
One important question for me

[2020-03-19 16:14] nnoll commented on #42
Can you clarify your question a bit. Are you asking do we have global case-counts, hospital beds, and simulate the global population at once?

[2020-03-19 17:10] jc92 opened #45 "Where does the Swiss Cantonal Data come from?"
Hi.
I am looking at the case_counts.json and was wondering where the data comes from since when aggregating on national level, it greatly deviates from other sources such as John Hopkins or swissinfo?
thanks in advance,
JC

[2020-03-19 17:14] rneher commented on #45
they come from the BAG -- we'll move to a different source soon.

[2020-03-19 17:14] #45 closed

[2020-03-19 17:26] jc92 commented on #18
Apologies for opening a ticket, just discovered this thread.

I'm trying to find granular data on confirmed cases, but haven't been successful to do so until now. Could you please share how you are getting the numbers from BAG?
Thanks in advance.

[2020-03-19 17:30] MarcelloPerathoner commented on #44
This paper https://www.imperial.ac.uk/media/imperial-college/medicine/sph/ide/gida-fellowships/Imperial-College-COVID19-NPI-modelling-16-03-2020.pdf suggests that a too strong suppression in the first 5 months will cause the peak to appear in December. Your default timescale will completely miss this point. See Figure 3.

[2020-03-19 17:38] jsmith commented on #23
Running `yarn analyze` I see that the total stat size is `6.62MB`, parsed size is `2.07` MB and gzipped is `494.9KB`. I've also added back `redux-saga-test-plan`, confirmed that both `yarn dev`/`yarn prod` work and created a PR :) (See #46) I will definitely let you know if I have any other ideas!

[2020-03-19 17:42] jsmith commented on #23
Also just to note, I'm fairly confident none of my changes triggered any peer deps warnings. I was trying to look out for that!

[2020-03-19 19:12] richardhodgman commented on #18
Can mitigation end time be extended?  I would like to extend it like simulation time can be extended.  My test cases are breaking down because mitigation ends September 30.
Making mitigation time equal to as simulation time would be OK.

[2020-03-19 19:23] nnoll opened #47 "Mitigation time scale doesn't persist across changes"
Changing the window of time that one simulates and then choosing a different mitigation strategy forces the time window back to the default value.

[2020-03-19 20:57] nnoll commented on #43
Fixed with 0a73b6e

[2020-03-19 20:57] #43 closed

[2020-03-19 21:12] keithloise commented on #42
Your population selector by countries are limited to EU only. If you could add other countries too that would be great.

[2020-03-19 21:39] vejmelkam commented on #18
Hi guys, great work! I have a question related to modeling the effect of healthcare capacity.

The model parameters ask for all beds/ICUs available in the country.

- How is the proportion of beds/ICUs available to tread COVID-19 patients computed?
- Is there differentiation between recovery rate of patients that are hospitalized vs patients that are in the "overflow" group?

[2020-03-19 21:54] jan-glx opened #51 "503 ERROR"
I get this (@ https://neherlab.org/covid19/ ):
[code]

[2020-03-19 21:57] ivan-aksamentov commented on #51
@jan-glx Should be back up in a moment. Sorry.

[2020-03-19 22:01] jan-glx commented on #51
Yes, it's back! Thank you!

[2020-03-19 22:01] #51 closed

[2020-03-19 22:14] nnoll commented on #42
All country age distributions should be able to be found in the dropdown menu within the Population data card. We however don't have data on hospital bed or ICU capacity for all countries at this time, but are activately working on aggregating this. If you have access to this data for your country/region of interest, head over the the covid19_scenarios_data repo and add this data to the population

[2020-03-19 22:14] #42 closed

[2020-03-19 22:34] nnoll commented on #18
@vejmelkam

As of now, we assume that the full number of ICU beds are available to treat COVID-19 patients. If one wanted to model a smaller number, the easiest way to do this right now is to decrease the number of ICU beds in the simulation parameters.

It is important to note that the patients who end up in the ICU don't natively recover in this model, they transition back to the hospital state.

[2020-03-19 22:35] nnoll commented on #18
@richardhodgman

The mitigation time should automatically update when you update the simulation window. Does it not for you? If so can you send a screenshot?

[2020-03-19 22:58] vejmelkam commented on #18
@nnoll thank you for your response.

Understood about hospital capacity. Would it make sense to add this to the description of the hospital/ICU beds parameter as a warning? For example in the Czech Republic, the numbers are a huge difference. Only a tiny fraction of the hospital bed capacity is expected to be available (thousands, as far as imprecise specs in news articles go). I'm happy to send a

[2020-03-19 23:10] nnoll commented on #18
@vejmelkam thank you for your interest and help!

A disclaimer is definately warranted. If you feel up for it, I would hapily accept a PR with this change.

I'm not sure I fully understand your proposed changes to the model. Are you thinking of introducing another overflow class to the hospital that explictly models finite hospital beds, in addition to the imposed ICU constraints? If so, what woul

[2020-03-19 23:12] AmadeusW commented on #38
If someone wants to develop on Windows right now, before this issue is resolved: consider enabling [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/about) for development.

[2020-03-19 23:59] vejmelkam commented on #18
@nnoll

Essentially this is my current thinking. Flow assumptions:

- infected-> severe is unchanged but hospital bed assignment follow similar logic as ICU in the [model.js](https://github.com/neherlab/covid19_scenarios/blob/0a73b6ed7bf408cf1189b24cf09f8296dbd3263a/src/algorithms/model.js#L218) file.

- severe->critical is split into two flows. The new flow is for severe AND non-hospitalized peop

[2020-03-20 00:07] richardhodgman commented on #18
Screen shot attached.  Running Chrome Version 80.0.3987.149 (Official
Build) (64-bit) on Windows 10 Home version 1909 OS Build 18363.720 up to
date 2020-03-18
============================
Richard Hodgman
richard@hodgman.org
http://hodgman.org/

On Thu, Mar 19, 2020 at 3:35 PM Nicholas Noll <notifications@github.com>
wrote:

[2020-03-20 00:47] nnoll commented on #18
@vejmelkam

This sounds great. I thought about a similar addition but decided against just for simplicity. I also convinced myself it wouldn't make a qualitative difference. However, if you implement it and show it makes significant changes to the predictions at the expense of one/two parameters added, I would say this is a meaningful change to merge upstream. I would say play around and report ba

[2020-03-20 00:49] brunorzn commented on #31
I had a look at the "encoding URL" option, which is totally doable.

It will require some work on the "initial state" part, but nothing too complicated though.
The URL will be a bit long, but is it a problem ?
(see  http://graphql.org/swapi-graphql?query=%7B%0A%20%20allVehicles%20%7B%0A%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20vehicleClass%0A%20%20%20%20%20%2

[2020-03-20 00:57] nnoll commented on #31
Regarding the reto-compatibilty I don't think this is a concern of huge importance -- the ability for people to share results now would take precedence over the ability to reference results from two weeks ago. The import/export parameters of Issue #11 could solve this use case.

[2020-03-20 02:18] brunorzn commented on #31
#53

[2020-03-20 04:57] elrdrgz opened #54 "Backbone for adapt it to local needs"
Hi,
Thanks for developing this tool! We are trying to develop a tool that helps local/regional mitigation efforts within a country (Bolivia). Using your scripts would be quite useful by saving us tons of time in developing the model. We would then include idiosyncratic conditions, such as local hospital coverage, new cases emerging, etc. We expect this to support targeted interventions in very low

[2020-03-20 05:13] rcbevans commented on #25
Do you have any UI mockup for the how you want the dialog to look/what the text should be?

[2020-03-20 07:45] rcbevans commented on #25
I have a basic bootstrap based dialog, with light-dismiss, and sample liability disclaimer text:

![image](https://user-images.githubusercontent.com/2041260/77144628-a44bb700-6a43-11ea-965c-26ff43e0b851.png)

It shows as part of the layout component when the component is first mounted.  I implemented it using just the bootstrap css classes, though it would be simpler if a dependency were taken on

[2020-03-20 09:09] VascoVisser commented on #18
I noticed that increasing the infectious period decreases the severity of the simulated epidemic. Is that a bug, or does it make sense somehow?

[2020-03-20 09:24] wscott commented on #18
@VascoVisser just guessing here, but if you don't change R0 (number of infections per case), but you do increase the infection periods then effectively you are slowing down the spread and giving more time for hospitals and mitigations to work.  In reality, if the infections period was longer then R0 would also go up.

[2020-03-20 09:30] VascoVisser commented on #18
That makes sense! Thanks.

[2020-03-20 11:17] mserranom opened #56 "Internationalization"
It would be really useful to support translations to other languages.

https://react.i18next.com/ is a reasonable option given the current tech stack

[2020-03-20 14:18] n0f3 commented on #56
what languages are you thinking?

[2020-03-20 14:33] mserranom commented on #56
spanish at least

[2020-03-20 14:58] nnoll commented on #54
The model can be found in src/algorithms/model.js. The function initializePopulation will return a data structure that the function evolve iterates on. The equations being simulated can also be found on the About page of the website

[2020-03-20 14:58] #54 closed

[2020-03-20 15:17] rapzo commented on #56
I might pick this one up. And I can do the portuguese version, since we definitely need help as well!

[2020-03-20 15:30] lukepighetti commented on #56
English & Spanish at a bare minimum, imo.

[2020-03-20 15:31] charlie632 commented on #56
I can help translating to spanis and/or helping with i18Next. Let me know if you are working on this @rapzo

[2020-03-20 15:36] lukepighetti commented on #18
Can we get a high level overview of what this project's goal is. README says it's to model hospital demand, but I also see reference to flow-chart style "what to do next" scenario guidelines. I've also seen reference to current stats on the outbreak. Some clarity would be appreciated, even if that is that there is no explicit direction.

[2020-03-20 15:40] rapzo commented on #56
Doing the setup right now. Once i get it working i'll push to my fork and will open to whomever willing to stretch a hand!

[2020-03-20 15:46] charlie632 commented on #56
Great!

[2020-03-20 17:13] ErikSchierboom commented on #56
I can help with the Dutch translation!

[2020-03-20 17:33] gcollard commented on #56
I'll help with the French translation

[2020-03-20 18:59] samarv commented on #56
I can help with hindi!

[2020-03-20 19:10] goktugerce commented on #56
I can help with the Turkish translation.

[2020-03-20 19:15] pnwscm60 commented on #18
I did a very simple model just to cover the first 31 days of the outbreak, just to show, how important the measures taken really are (https://ebpswiss.ch/animation.html). Using your tool (nice work!), I have lower counts of deaths and ICU need in the beginning. Can you give me your basic assumptions about deaths and ICU need? Thanks!

[2020-03-20 19:16] DoctorWhoFR opened #63 "talking"
Maybe working and adding on data of people who works now for country with lockdown to simulate virus propagation diminution and how many time needed to stop?

[2020-03-20 19:25] rneher commented on #14
I like this idea. Certainly worth exploring.

[2020-03-20 19:39] t0byman commented on #56
Kerel! Hulp nodig!?

[2020-03-20 19:43] PaulKC commented on #18
I really like the tool. It would be nice if you could also simulate the seasonal flu to have a comparison.

[2020-03-20 20:08] elrdrgz commented on #54
Thanks. Much appreciated!!

[2020-03-20 20:53] visionscaper commented on #18
Hello,

[2020-03-20 20:54] visionscaper commented on #18
Hello,

Great simulation tool, thank you for sharing!

I have a question : does your model take in to account the effects where the rate of new infections slow due to the herd immunity effect?

[2020-03-20 21:05] rcbevans commented on #38
I'll look into this now

[2020-03-20 21:11] benlesh opened #65 "Performance optimizations for tree and map visualizations"
I just spoke with @colinmegill about what could be done to improve the performance of the visualizations.

## Small wins:

### Don't render any visualization that is not on the screen

There are a variety of ways to do this, `IntersectionObserver` is a solid tool for that, and it should be an easy win. It exists in every browser but IE. (I **highly** recommend ditching support for IE.. if we're ta

[2020-03-20 21:13] benjwexler commented on #17
Hey @ivan-aksamentov, Formik does expose the form’s values as part of the `formikBag` in the render method. Why not add an `onChange` to the Form component like this?

          {({ values, errors, touched, isValid }) => {
            const canRun = isValid && severityTableIsValid(severity)
            return (
              <Form
                onChange={(ev) => {
                  const { name,

[2020-03-20 22:39] dhrubesh commented on #65
Hi @benlesh mind if I pick this up?

[2020-03-20 22:43] dhrubesh commented on #65
@benlesh mind if I pick this up? It's 4am right now, will wake up tomorrow and discuss the approach in this thread.

[2020-03-20 22:45] gleiderr commented on #56
I can help with portuguese

[2020-03-20 22:50] kibertoad opened #66 "Backend-side work?"
I'm a Node.js developer and I'd like to help, however, I'm not really proficient with React. If there is any non-React work that I could help with (either server-side or business logic isolated from React rendering), I would be most happy to contribute.

[2020-03-20 22:54] rsharvill commented on #16
Hi @ivan-aksamentov , I would love to work on this to begin contributing to the project if possible!

[2020-03-20 23:04] kibertoad commented on #21
@ksatirli In case you wanted to save the world, now might be your chance.

[2020-03-21 00:01] anandgraves commented on #28
The Internet Archive has a snapshot from march 20:
https://web.archive.org/web/20200320025420/weekly.chinacdc.cn/en/article/id/e53946e2-c6c4-41e9-9a9b-fea8db1a8f51

[2020-03-21 01:33] Nebadon1 commented on #56
Spanish if you need more people

[2020-03-21 02:26] Joluma commented on #19
@ivan-aksamentov did you already start implementing e2e with cypress? I can help with that.

[2020-03-21 02:37] ivan-aksamentov commented on #16
@rsharvill
Hi Rachel, I've just merged a pull request addressing some of the concerns here
https://github.com/neherlab/covid19_scenarios/pull/57
Feel free to take a look. Whether you have some improvements in mind or some new proposals, we'd be happy if you could contribute!

I'm not sure what kind of contributions you are interesed in the most, but specifically for community-related setup:
 - We

[2020-03-21 02:43] ivan-aksamentov commented on #19
@Joluma
Hi Joël, I haven't started yet. But the e2e testing is probably one of the most valuable things to contribute.

It may be tricky, because many parts of the project are changing rapidly. For example, I have a huge Redux revamp coming soon(ish). So the test will have to be adjusted frequently.

Feel free to try it out!

[2020-03-21 03:01] ivan-aksamentov commented on #19
Some more thoughts for unit and integration tests:

 - The goal is to bring confidence that refactors and new features don't break the results.

 - Most importantly, care should be taken to not produce wrong science in the end! That's people's lives counts, not just numbers we are juggling there.

 - Focusing on testing `run()` function is somewhat pointless, I think. It's an entry point of the al

[2020-03-21 04:06] ivan-aksamentov commented on #56
That's fantastic, folks!

I've merged this PR from @rapzo
https://github.com/neherlab/covid19_scenarios/pull/62/

TODO:
 - language switch
 - scaffold new locale files
 - fill in the new locale files

Cant wait to see this goes forward!

[2020-03-21 04:07] avj2352 opened #68 "[INFO] - How can I contribute ?"
I have good experience in React. How can I help ?
For eg: I cloned and made changes to the README.md, adding instructions to setup on windows

Browser (include version): NA
Operative System: Windows

### Documentation

---

#### Run

This will run the application in development mode (with hot reloading):

[code]

[code]
---

[2020-03-21 04:35] ivan-aksamentov commented on #68
Hi @avj2352 ,

Thanks for your interest!

Yep, this documentation snippet will be the most welcome in the README. Feel free to fork and submit a pull request.

Feel free to pickup any of [these issues](https://github.com/neherlab/covid19_scenarios/issues) and more will be coming soon, probably today.

Currently high on the list:

 - Tests, improving app testabiltiy
 - New features in terms of usab

[2020-03-21 04:36] #68 closed

[2020-03-21 04:40] ivan-aksamentov commented on #21
@Shrinidhikulkarni7 sorry, I am not wevry familiar with GitHub Actions, but wanted to learn!

Right now we've got Travis CI that tests, builds and deploys to AWS and we've got now.sh deploying pull requests.

I know that GH Actons can do so many more. So can we combine?
I would like to have various automatic PR checks and bots, as bigger open-source projects have.

Any help is welcome here! Let me

[2020-03-21 04:42] ivan-aksamentov commented on #21
@kibertoad @ksatirli , yep that's the best opportunity your life, folks! Contributions welcome :)

[2020-03-21 04:50] avj2352 commented on #68
Awesome, I can MOST DEFINITELY help you guys on Unit testing / Sonarqube /
Code quality

On Sat, 21 Mar 2020 at 12:35 PM, Ivan Aksamentov <notifications@github.com>
wrote:

--

Best regards

Pramod A Jingade

*Mob: +91 9845111324*

[2020-03-21 04:52] ivan-aksamentov commented on #66
Hi @kibertoad , we currently don't have a backend other than a small lambda for securoty headers.

From the top of my head, in the non-UI code is in the `src/algorithms` directory. It contains te algorithm(s) and it can use some love. We are in desperate need of tests:
https://github.com/neherlab/covid19_scenarios/issues/19
In order to test the algorithm one needs to understand it and to split the

[2020-03-21 04:58] ivan-aksamentov commented on #65
Hi Ben @benlesh ,
I don't understand what it's all about. I need some more info! :)
Did you mean to submit it to nextstrain/auspice?

[2020-03-21 05:04] ivan-aksamentov commented on #63
Hi @DoctorWhoFR , thanks for your suggestion!

We currently have a plot in the "Mitigation" scenario section. It allows you to simulate the mitigation (containment) measures, suck as self-isolation, over time. You can drag black dots to make mitigation

Another related parameter is R0, which defines how many persons a sick person will infect on average.

These are the high-level parameters, affect

[2020-03-21 05:10] ivan-aksamentov commented on #16
Some additional thoughts:

 - I would like for new PRs and issues to have a choice dialog, that allows to pick a type of the PR or issue, then redirect to the appropriate template and assigns appropriate labels.

 - We need more details in Contributing.md about how to fork and make PRs, for newcomers

[2020-03-21 06:18] ivan-aksamentov commented on #47
This was fixed in #61

[2020-03-21 06:18] #47 closed

[2020-03-21 06:19] ivan-aksamentov commented on #44
@MarcelloPerathoner Thanks for the suggestions!
I'll let our science forks to consider this.
CC @nnoll @rneher

[2020-03-21 06:22] ivan-aksamentov commented on #38
@rcbevans Hi Rich, thanks!
If you'll be looking into this, let me know if you have any other suggestions along the way, regarding the build, dev experience or otherwise.

[2020-03-21 06:24] #30 closed

[2020-03-21 06:29] besrabasant commented on #56
I will too help in Hindi.

[2020-03-21 06:40] ivan-aksamentov opened #69 "WANTED: We are looking for data sources and data curators"
Currently we are looking for case counts data and other statistical information from different countries and for people who can curate this data.

The README in this repository contains some information on how to get started:

#### https://github.com/neherlab/covid19_scenarios_data

It also contains the preprocessed data ready for the consumption by the build system of the app.

If you think you m

[2020-03-21 06:50] ivan-aksamentov commented on #69
One way might be to crowdsource the search for data.

There are many COVID-19 and SARS-CoV-2-related projects on the web. Some of them may contain data, APIs or just interesting ideas that can help us to make our application better.

Here are some examples:

 - https://github.com/search?q=covid+OR+covid-19+OR+coronavirus+OR+ncov+OR+SARS-CoV-2
 - https://github.com/soroushchehresa/awesome-coronavir

[2020-03-21 06:54] ivan-aksamentov commented on #32
This is solved now that we've transitioned back to serving from the root.

[2020-03-21 06:54] #32 closed

[2020-03-21 07:03] ivan-aksamentov commented on #25
@rcbevans
Hi Rich, thanks!

Feel free to submit a PR! We are currently using [reactstrap](https://reactstrap.github.io/).

Honestly, not only we don't have a mockup, we haven't even yet figured what should be there as text. Mostly something long the lines of what there is already on the results card. Something like: "this is theoretical math and these are the human lives and also predicting the fu

[2020-03-21 07:31] ivan-aksamentov opened #71 "Improve mobile user experience"
Our current mobile experience is suboptimal.

### Key defects:
 - Situation is particularly bad with charts and plots, which is a central aspect of the application.
 - Some of the elements are needlessly large, some are to small
 - Scrolling is awkward
 - Tapping "Run" button gives no clue that there is more content appeared below
 - Calendar is cut-off

We currently use reactstrap as a frontend l

[2020-03-21 07:35] noleti commented on #69
https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide seems like a good data source? Example data: https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-03-20.xlsx Data seems to be global and well structured.

[2020-03-21 07:35] ivan-aksamentov commented on #15
The plot looks a bit better, or at least usable. But there is still lots of work on mobile.
I will close this and move the efforts to the more general issue:
https://github.com/neherlab/covid19_scenarios/issues/71

[2020-03-21 07:35] #15 closed

[2020-03-21 07:37] ivan-aksamentov commented on #71
This is a huge issue. Feel free to open separate issues for smaller fixes and mention this one.

[2020-03-21 08:05] fazouane-marouane commented on #69
Would this be enough ? It’s data that’s refresh daily at 9am EST https://www.tableau.com/covid-19-coronavirus-data-resources

[csv](https://data.world/covid-19-data-resource-hub/covid-19-case-counts/workspace/file?filename=COVID-19+Cases.csv)

[2020-03-21 08:34] ivan-aksamentov opened #72 "Fix black dots dragging behavior on the mitigation plot (React hooks + D3.js guru needed)"
## Steps To Reproduce

1. Refresh the main page
2. Mouse-focus into one of the form fields, for example increment "Imports per day" number.
3. Without blurring (moving the cursor out of the form field), try to drag a black dot on the "Mitigation" plot

## The current behavior

The "Mitigation" plot dot being dragged is not moving until mouse button is up

## The expected behavior

The "Mitigation"

[2020-03-21 09:25] szonjajakab commented on #19
I could do the CI building if its not taken.

[2020-03-21 09:33] owais-eng commented on #19
how can i get the code of this projectSent from my Samsung Galaxy smartphone.
-------- Original message --------From: szonjajakab <notifications@github.com> Date: 21/03/2020  2:55 pm  (GMT+05:30) To: neherlab/covid19_scenarios <covid19_scenarios@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [neherlab/covid19_scenarios] Add tests (#19)
I could do the CI building if

[2020-03-21 09:53] kibertoad commented on #66
@ivan-aksamentov Gotcha. I'll try to add some tests, and after those are in place, refactorings could be considered. Thanks!

[2020-03-21 09:54] nonotest commented on #69
https://coronadatascraper.com/  there's a fair bit of data available there as well

[2020-03-21 10:10] FireLizard commented on #56
I can help with the German translation.

[2020-03-21 10:13] mserranom commented on #69
For Spain, this is a good data source, containing national and regional cases, deaths, ICU and recovered: https://github.com/datadista/datasets/tree/master/COVID%2019

[2020-03-21 10:32] SKloeser opened #74 "[Bug] Effect of "Infectious Period""
Increasing the Infectious Period results in a less severe scenario and vice versa. I assume this is a bug.

[2020-03-21 10:37] hannesgr commented on #56
I can help with the Swedish translation

[2020-03-21 10:44] rapzo commented on #56
I'm gonna work on extracting all strings from components. It's a long one... But once the english is complete it will be easier to add new stuff. But if anyone is already at it please open a WIP PR so we don't overlap each other.

[2020-03-21 10:51] kibertoad commented on #66
@ivan-aksamentov Could you take a look https://github.com/neherlab/covid19_scenarios/pull/75 ? This lies a bit of groundwork for other work to be done, if this is right approach and direction, I can carry on from there.

[2020-03-21 10:53] hannesgr commented on #56
I've just started, so I'll add a WIP PR.

[2020-03-21 10:55] noleti commented on #74
Without any background in the topic, I assume that R0 is per case (not time and case), so increasing infectious period to 10 days will mean that the 2.7 infections per case are spread over 10 days now, instead of 3. This will then reduce the speed of propagation.

[2020-03-21 11:01] SKloeser commented on #74
If this is the case the description should be adjusted.

[2020-03-21 11:01] rneher commented on #74
Yes. @noleti is correct. this might be unintuitive, but is the correct behavior.

[2020-03-21 11:01] #74 closed

[2020-03-21 11:24] hannesgr commented on #56
#76

[2020-03-21 11:30] noleti commented on #69
I have a finished pull request for the ECDC dataset pending now, replacing the WHO data and parser.

[2020-03-21 11:39] rneher opened #350 "Accurate hospital/ICU capacities for Swiss cantons."
The numbers for hospital beds of Swiss cantons were guessed on a pro-rata bases from national numbers. It would be great to have more accurate figures here:

https://github.com/neherlab/covid19_scenarios_data/blob/master/populationData.tsv#L33

Please edit this file while keeping `tsv` structure intact.

[2020-03-21 11:40] bharath6365 commented on #18
I have spotted a few areas where usability/user-experience could be improved. @ivan-aksamentov
Can we sync up?

[2020-03-21 11:44] noleti commented on #69
There is an amazing amount of data on that API, but I guess it is not an official source. Should be easy to write a parser for, if required.

[2020-03-21 11:51] nonotest commented on #69
Good point!

I have checked a few of their scrappers, they all seem to be directed at government pages eg https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/coronavirus-covid-19-current-situation-and-case-numbers for Australia
https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html for Canada and so on.
or github repos that

[2020-03-21 11:58] keevcodes opened #78 "[Bug] Fix overlapping of y-axis text on mitigation chart"
Browser (include version): Chrome 80
Operative System: Mac OS Catalina

## The current behavior

On mobile, the y-axis text on the mitigation chart overlaps to the point where the chart is unreadable.

Iphone X Chrome:

<img width="639" alt="Screenshot 2020-03-21 at 12 56 01" src="https://user-images.githubusercontent.com/17259420/77225847-69e13780-6b73-11ea-83e4-913cb4793d95.png">

## The expecte

[2020-03-21 11:58] keevcodes commented on #78
I'd like to tackle this issue

[2020-03-21 12:45] Shrinidhikulkarni7 commented on #21
Hey @ivan-aksamentov  it looks good as of now.
I can dockerize this project if you need me to.

[2020-03-21 12:50] keevcodes commented on #78
@ivan-aksamentov  I think I've got a solution for this issue, however when trying to push to the newly created branch 'issue/78' I get a `remote: Permission to neherlab/covid19_scenarios.git denied to keevcodes.`

[2020-03-21 12:51] mserranom commented on #69
Spain's data: https://github.com/neherlab/covid19_scenarios_data/pull/11

[2020-03-21 12:52] camjc commented on #69
Hey all,

Have been working on https://coronadatascraper.com/ aka https://github.com/lazd/coronadatascraper in my own time, and also am a Sanity user professionally+personally.

We've been building scrapers over there only from official sources. No news, no aggregates, just governments directly (yes this is a pain since many governments like to have free-text press releases, sometimes with useful

[2020-03-21 12:53] noleti commented on #69
I wrote a first parser for the coronadatascaper.com now (in my forked repo). Integrating the data from counties (e.g. in the USA) is not done yet, as the current folder structure assumes that they are placed in separate folders(?). I think before we start to integrate coronadatascaper, the overall merging of datasources needs to be fixed. I currently don't see the reason why everything is kept in

[2020-03-21 13:18] Emmanuel-R8 commented on #56
Ditto

[2020-03-21 13:58] pinanunes commented on #18
I've got one doubt and one suggestion:

Doubt: When modeling critical cases vs existing ICU beds are you accounting for usual ICU bed occupancy? It is not a big issue since we can enter the number of ICU beds like the ones available taking into account the available beds. But nevertheless is good to consider that.

Suggestion: One major question at the moment is the effect of testing to increase t

[2020-03-21 14:08] petebacondarwin commented on #78
@keevcodes did you fork the repository to your own account?

[2020-03-21 14:10] petebacondarwin commented on #78
For example I have https://github.com/petebacondarwin/covid19_scenarios
And I would add this to my local github as a remote via:

[code]

Then instead of trying to push to the source repository you push to your own fork:

[code]

(Hopefully this is not teaching you to suck eggs :-) )

[2020-03-21 14:32] malikmukhtar commented on #20
@ivan-aksamentov Can I work on this?

[2020-03-21 14:33] keevcodes commented on #78
@petebacondarwin  I completly overlooked that fact.. truth be told I know better, chalking this up to a typical dev brain fart moment. Thanks for the reminder

[2020-03-21 15:45] petebacondarwin commented on #72
I am not that up with React but I had a little play and it seems to me that this component only needs to re-render the graph if the time series changes, which is defined by the `data` property, or when the size of the graph changes, which is defined by the `width` and `height` properties. Yes?

So I changed https://github.com/neherlab/covid19_scenarios/blob/b07eeaedd82dd3f54067e241cb62e5e2ac879504

[2020-03-21 16:01] nnoll commented on #78
@petebacondarwin beat me to it. Please fork the repo and submit a pull request with your fix. Thanks for your help!

[2020-03-21 16:08] petebacondarwin commented on #72
Oops! Of course now the graph is not rendered correctly at application start up... :-(

[2020-03-21 16:11] nnoll commented on #26
This is a great idea. In reality, we aren't simulating individual people so we don't have a clean way to assign actual recovery/latency times. In its current form, the model could only capture such effects by sampling the deterministic rates we currently use by a distribution that's not Poissonian.

The code as written can easily accomodate stochastic sampling. The evolve function accepts a sampli

[2020-03-21 16:23] nnoll commented on #44
For now, we want the model to focus on understanding the immediate hospital demand in the next 3-6 months, and the various control we have on it. Increasing the default time-range blurs this focus, as well as introduces worries of uncertainty in predictions looking that far forward in time, which our model has no way of calculating and/or displaying right now.

For now, I think we'll opt to leave

[2020-03-21 16:23] #44 closed

[2020-03-21 16:48] petebacondarwin commented on #72
Ahah! So it seems that the first time `draw()` is called we have `d3ref.current` is `null`, which causes an error and so the effect is not run again. Adding a guard against this and adding `d3ref.current` as a dependency for the effect seems to solve the problem:

[code]

[code]

[2020-03-21 16:50] petebacondarwin commented on #72
By the way, as I said I am not that hot on React development but I found that I needed to change the `webpack.SourceMapDevToolPlugin` to set `noSources` to false when debugging in order to get half-decent debugging experience. Is there a better way to manage this?

[2020-03-21 17:02] rodolfoalmeida01 opened #83 "Improve styles and readability"
Hi! Based on issues #71 and #13 me and @arieltonglet are assessing improvements to the general user experience. We're planning on altering text, button and help icon styles to improve readability and information hierarchy on both desktop and mobile.

Later on we intend to work on the charts, but it'd be best to open a separate issue for that.

[2020-03-21 17:07] nnoll commented on #18
@visionscaper Yes, this model captures "herd-immunity" as we assume recovered individuals can not become re-infected. This is easiest to see in a simple S(Susceptible)-I(Infected)-R(Recovered) model. I'll speak in ODE's, let me know if I should provide more details :)

The number of infected[I] grows in time as (N denotes the population size):

dI/dt = b*S*I/N -  c*I

At steady state (when infecti

[2020-03-21 17:12] nnoll commented on #18
@pinanunes So far there is no modelling of occupancy of ICU beds: we assume all  beds can be used by COVID-19 patients. There is a disclaimer in the help that states this assumption, although I agree it could be more prominent. Do you have any suggestions?

Regarding your suggestion, this sounds interesting although I'm not sure exactly what you have in mind. Would you mind outlining your thoughts

[2020-03-21 17:17] nnoll commented on #18
@pnwscm60 All our data that we use regarding hospital and ICU utilization can be found within the element labelled "Severity assumptions". Also, these assumptions can be edited if you want to use your own data to match your model.

[2020-03-21 17:28] wiedenhoeft commented on #18
Hi, this is great work!! I was wondering, given the potentially large number of subsymptomatic, undetected cases, whether "I" should be split up into a symptomatic and an unsymptomatic compartment, or diagnosed vs. undiagnosed. Given the wide range of symptoms, the infected are potentially underreported, and the proportion of those cases might become an important model parameter should large-scale

[2020-03-21 17:32] nnoll commented on #18
@lukepighetti yes we are putting together a more detailed roadmap. should be together shortly.

Also, for everyone but also regarding community organization: I welcome you to head over to https://spectrum.chat/covid19-scenarios to continue discussion.  We think this should facilitate more productive community discussion and collaboration.

We'll leave this thread open for awhile until everyone can

[2020-03-21 17:40] hannesgr commented on #56
All right, I've tried to identify all translatable strings.

I made a complete PR Here #85. Didn't translate the About page though, not sure about how to go about that one?

[2020-03-21 17:57] rsharvill commented on #16
@ivan-aksamentov Sounds good! I am beginning to look through the project so I can get a better understanding of what you guys are working on.

Would you have time for a voice call or chat (through something like discord or slack) so I can be brought up to speed on the project itself and your goals?  I find I learn better that way. Let me know, thanks for being so responsive!

[2020-03-21 19:18] rneher opened #349 "🇪🇸 Add Spanish regions"
To use Spanish regions as preset populations, we need their population sizes and some estimates of the number of cases they had on March 1st (today/200 is probably not too bad)

@mserranom, do you have those numbers?

They would need to go into the `populationData.tsv` in analogy to the Italian provinces:

https://github.com/neherlab/covid19_scenarios_data/blob/master/populationData.tsv#L76

[2020-03-21 19:21] ivnnv commented on #38
Hi,
I have been successfully able to run the project on **Windows 10** (if you are not yet on Windows10, you should), and using [Windows Subsystem for Linux]( https://docs.microsoft.com/en-us/windows/wsl/about) + Ubuntu bash on VSCode.

![wls vscode](https://user-images.githubusercontent.com/23552631/77234397-66b76d00-6bae-11ea-8a31-f4629ddba19f.png)

Note: Below steps are not only required for th

[2020-03-21 19:23] ksatirli commented on #21
@ivan-aksamentov what kind of actions are you thinking of? Are you looking to move the steps in [travis.yml](https://github.com/neherlab/covid19_scenarios/blob/master/.travis.yml) to a GitHub Actions Workflow?

[2020-03-21 20:14] chriswien commented on #18
Hi,
I fetched covid19_scenarios_data  and covid19_scenarios to the same folder.
I did some work on regional datafor germany and I wrote the parser. I was about testing if works.
So I followed your guidelines from covid19_scenarios_data module and tried this:

python3 parsers/germany.py

Traceback (most recent call last):
  File "parsers/germany.py", line 7, in <module>
    from .utils import write

[2020-03-21 20:23] nnoll commented on #18
@chriswien see https://stackoverflow.com/questions/14132789/relative-imports-for-the-billionth-time for a long discussion. The short answer is .(python file name) is a relative path import that is only expected to work when you use your parser from the parsers module.

One easy trick is to call python parse_all.py while in the data root directory, which should take care of this particular issue fo

[2020-03-21 20:28] maktarsis commented on #38
@ivnnv is there any option to run this only using windows 10 (without Windows Subsystem for Linux)

[2020-03-21 20:34] benlesh commented on #65
Yes... sorry. Wrong repo. 🤦‍♂

[2020-03-21 20:34] #65 closed

[2020-03-21 20:36] chriswien commented on #18
thanks that works ,but now an error occurs running ecdc.py
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(me

[2020-03-21 21:19] dilantha111 commented on #38
Hi @ivnnv  I tried windows subsystem approach. But I am stuck here when I run "yarn dev" for nodemon also got the same error so I installed it globally. Maybe dev dependencies are not properly installed or something ? Any clue ?

[code]

[2020-03-21 21:20] chriswien commented on #18
Hi,
I like to provide data for germany.

I pull data from Robert Koch Institut RKI on a daily base. The have actual data 10:00 each day which reflect the state 0:00 the same day. This is the link

https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html

I have created a git repository with a csv file for data beginning on Feb 24 2020. (source: https://de.wikipedia.org/wiki/COV

[2020-03-21 21:30] aschelch commented on #69
Hi, thanks you all for the work.
Here is my little contribution : I added data for France (https://github.com/neherlab/covid19_scenarios_data/pull/18)
Take care

[2020-03-21 21:42] DrGo commented on #18
Hello,
Great app!
Would it be possible to run the simulation code from the command line (using node)?

[2020-03-21 21:54] ruisaraiva19 commented on #16
@ivan-aksamentov @rsharvill I would also love to contribute with documentation and PR/issue templates.
I started contributing to open-source for the past couple of weeks and it's tuff when there is little to no documentation to get started with contributions.
This project seems a good starting point to deep dive into the open-source software standards.

[2020-03-21 22:00] ivan-aksamentov commented on #16
@rsharvill @ruisaraiva19

Great to have you on the project!
Carry on, you have a full freedom to experiment here!
Let me know if you need anything.

Feel free to join our new Spectum chat:
https://spectrum.chat/covid19-scenarios/general/questions-discussions~8d49f461-a890-4beb-84f7-2d6ed0ae503a
it's a bit empty right now.
Let me know if you have any ideas on how to make people less shy :)

There a

[2020-03-21 22:20] ivan-aksamentov commented on #56
Glorious work folks!
We've got some conflicting PRs. I merged #70 and #85 can hopefully be rebased on top of it. Feel free to self-organize in the chat:
https://spectrum.chat/covid19-scenarios/developers?tab=posts

Questions:

 - Do we have to replace all spaces in strings with dashes? I'd be glad if you say no, because our scientists would hate the idea :)

TODO (added to the list above):

 - Wri

[2020-03-21 22:25] ruisaraiva19 commented on #16
Just joined the chat.

We can start by updating the issues templates config `contact_links` with the Spectrum chat for questions and discussions.

Next, we would need to somehow move the questions/discussions from the #18 issue to the chat as well.

[2020-03-21 22:31] ivan-aksamentov commented on #16
Yes, this sounds reasonable.
If you want to post anything anywhere from my name, send me a snippet and target location :)

Here is the HTML snippet for the  chat button. Feel free to randomly post it everywhere.

[code]

[2020-03-21 22:33] ivan-aksamentov commented on #18
Hello, thanks everyone for the participation!

We've created a Spectrum chat, where communication should be somewhat easier:

<p align="center">
  <a
    alt="Link to join the chat"
    href="https://spectrum.chat/covid19-scenarios/general/questions-discussions~8d49f461-a890-4beb-84f7-2d6ed0ae503a"

    <img
      alt="Image for the link to join the chat"
      src="https://user-images.githubuserc

[2020-03-21 22:36] ivan-aksamentov commented on #18
@DrGo
Not right now. An it's not in our plans currently. But that should be fairly easy to implement. Algorithm is contained in `src/algorithms` and the function `run()`, the entry point, is in `run.ts`.

Feel free to open an issue, describe the user experience you imagine, and maybe someone will implement it. Or feel free to try yourself and then open a pull request. If it flies, we can organize

[2020-03-21 22:54] ivan-aksamentov commented on #18
cc @nnoll @rneher (Data from Germany)

@chriswien Thanks!

I opened an issue here:
https://github.com/neherlab/covid19_scenarios_data/issues/21

If you are available to help us to preprocess this data, feel free to check our data sourcing thread here:
https://github.com/neherlab/covid19_scenarios/issues/69
and the data contributor's guide here:
https://github.com/neherlab/covid19_scenarios_data

F

[2020-03-21 23:13] ivan-aksamentov commented on #83
@rodolfoalmeida01 @arieltonglet
Hello, you are most welcome!

If possible, try to split the work in small pieces to avoid huge merge conflicts.
Feel free to create "work in progress [DO NOT MERGE]" kind of Pull requests. Rebase on master often.

It make sense to coordinate the work with Internationalization folks in https://github.com/neherlab/covid19_scenarios/issues/56 , because their changes wi

[2020-03-21 23:19] #78 closed

[2020-03-21 23:21] rrickfox commented on #18
Hi,
I tried to implement the model you describe on your website [https://neherlab.org/covid19/about](url). However I got stuck on understanding the differential equation for I_a, in particular what the parameter I_b stands for. I was unable to find the equivalent in the code of this repo. In my case the infectionchange increases rapidly, as the formula I use is dI_a/dt = -beta * S_a * I_a. I am ce

[2020-03-21 23:32] lordrip commented on #20
The problem with development is because there's some code that is not being transpiled to ES5, if you execute `yarn dev` and open `.build/development/web/content/main.js` at line 1000 you'll notice this:
`const { Html5Entities } = __webpack_require__("./node_modules/html-entities/index.js");`
and this is ES2015 and is not supported by our beloved IE11.

This should be fixed by editing `.browserlis

[2020-03-21 23:57] ruisaraiva19 commented on #16
PR with the Spectrum chat link ready for review.
Next, I will update/add issue templates with appropriate labels, base title, suggestions, etc.

[2020-03-22 00:27] ivan-aksamentov commented on #72
Regarding source maps: https://github.com/neherlab/covid19_scenarios/pull/94#issuecomment-602126275

[2020-03-22 00:36] ivan-aksamentov commented on #18
A link to chat for the issue raised by @rrickfox
https://spectrum.chat/covid19-scenarios/general/questions-discussions~8d49f461-a890-4beb-84f7-2d6ed0ae503a?m=MTU4NDgzNDMzMjc1OQ==

[2020-03-22 00:37] nonotest commented on #66
we could start by adding a few endpoints that return the current json files (population.json etc) for the web app to consume. When there is a clear path for the data sources we can load and transform the data dynamically from the backend instead of using the static json files.

Happy to help with this as well

[2020-03-22 01:23] loehndorf commented on #11
Currently, the Export button results in a JSON which contains all input parameters (along with some hard-coded assumptions). On the other side, it would be nice to get the simulated data from the graphs also as JSON file. This would allow to run multiple scenarios with different input parameters and compare them offline.

[2020-03-22 01:24] ivan-aksamentov commented on #31
@brunorzn Looks like it works! :)

I merged #53, but I noticed that it does not restore the names of the scenarios (in dropdowns in card headers). That needs to be fixed, I think.

Additionally, we are using `connected-react-router`, and I think bypassing it may break it. Or at least all the places that rely or will be relying on it will not receive the updated state.
Also, router should parse par

[2020-03-22 01:33] ivan-aksamentov commented on #20
@malikmukhtar Sure, go ahead.

@lordrip , dev stuff does not need to be compatible with IE. Neither transpilation would help. There is just too much hairy stuff injected by various dev tools. In any case, we assume that our developers are competent enough to download any of 5 latest versions of Firefox or Chrome :)

Production is transpiled differently, and mostly correctly. There are some issues

[2020-03-22 01:45] ivan-aksamentov commented on #11
@loehndorf Hi Nils, thanks for the input!
Along with params `.json` you should also receive a `.tsv` file with results. Do you not receive it or is this file not what you need?

[2020-03-22 02:11] ivan-aksamentov commented on #17
The work is being done on #90, but there are performance issues. Are there any React performance experts in the club? :)

[2020-03-22 02:12] ivan-aksamentov commented on #17
@benjwexler thanks! I did not know this exists. We may try that.

[2020-03-22 02:18] #72 closed

[2020-03-22 02:31] brunorzn commented on #31
@ivan-aksamentov

cool for the merge :)

you're right, as mentioned in the PR :

* it's simply a _quick and dirty_ serialiser - I didn't want to break / refacto anything from the codebase before knowing it better - and I think this feature needs to be shipped quickly

* it does restore the name of the scenarios, when it is not set to "custom" ; it does not restore the "custom" names in the drop do

[2020-03-22 02:54] ivan-aksamentov commented on #83
If you folks have a list of TODOs in mind, let us know. We can setup a Project if you'd like too.
We need to ensure that there are no huge merges.

I just merged a couple of Mobile PRs. Not sure if those align to your ideas:
https://github.com/neherlab/covid19_scenarios/pull/84
https://github.com/neherlab/covid19_scenarios/pull/87

[2020-03-22 03:13] ivan-aksamentov opened #101 "Fix types and linting errors"
Although type checking and linting was implemented in the app from the beginning, we disabled it early so that scientists could iterate faster without being bothered too much with the latest web dev novelties.

We need to apply fixes **incrementally**, a few files a day. Preferably as a part of the routine PRs.

At some point we can re-enable linting on build-time, but currently you can use these

[2020-03-22 03:28] ivan-aksamentov opened #102 "Containment graph looses its values"
In https://github.com/neherlab/covid19_scenarios/pull/99 @dannysepler reported the following with relation to Containment (mitigation) graph component and modifying the number of points:

More investigation and reproduction steps are needed.

[2020-03-22 03:37] dannysepler commented on #102
for more details, here's a pic of before:

<img width="645" alt="Screen Shot 2020-03-21 at 11 35 30 PM" src="https://user-images.githubusercontent.com/3710083/77241722-d9374580-6bcc-11ea-91a2-e70bc1dd001a.png">

and after:

<img width="632" alt="Screen Shot 2020-03-21 at 11 35 40 PM" src="https://user-images.githubusercontent.com/3710083/77241723-ddfbf980-6bcc-11ea-8615-b2c068546b93.png">

[2020-03-22 04:05] ivan-aksamentov commented on #21
@ksatirli No, I am quite happy with the current Travis setup right now. That is unless you have any tweaks and suggestions in mind.

I am looking to maybe augment the current setup with things that Actions can do, but Travis cannot. There are so many triggered PR checks exist out there. Also there are active, contributing PR bots.

For example, I am planning to integrate I want to integrate browse

[2020-03-22 04:18] ivan-aksamentov commented on #102
@dannysepler

Ah, yes, I think it might be due to interpolation. My hypothesis is that if you change number of points, the algorithm tries to fit the existing curve into the new number of points.

If number of points is reduced, then there is information loss. The loss is small with large number of points, but  as it approaches 1 point more data is lost. And with 1 point it degrades to the value o

[2020-03-22 04:25] ivan-aksamentov commented on #65
@benlesh Haha, no worries! And thanks for stopping by :)
If you have time and forces -- contributions are always welcome!

[2020-03-22 06:19] miksa1987 commented on #71
Hi! I could start working on the elements. As for clicking run and more items appearing, could it be done so that form items would be kind of like menu overlay on top of everything, and when clicking run, they go away to a menu button ready to be invoked again?
Also, I was thinking about the popups in graphs, perhaps they should be placed on top of the graph on mobile, so that it wouldn't be on to

[2020-03-22 06:23] ivan-aksamentov opened #105 "Optimize for social media"
As we rely on social media to increase the outreach, it would be nice to:

  - [ ] double check title tag and favicons for different devices (see `static/` directory)
  - [ ] add social media meta tags for common western social media, like Twitter, Facebook, Google
  - [ ] add social media meta tags for common social media in asian-pacific region (I am not familiar with these unfortunately)
  - [

[2020-03-22 06:27] ivan-aksamentov opened #106 "Optimize for search engines"
We want people to be able to find out about our app in different ways, including by searching in common search engines. It would be nice to have at least basic Search Engine Optimization (SEO).

What has to be done here?

Related
#105

[2020-03-22 06:47] ivan-aksamentov opened #107 "Add landing page"
Currently the application just dumps user right into the simulator. No explanations, no context, just a form and a "Run" button.

We would like to add a Landing page:
 - [x] spacey, lots of color, curvy SVG lines and a large SVG image of coronavirus (if available, let's discuss options/licensing/costs)
 - [x] a large button in the middle to launch a simulator (e.g. "Simulate")
 - [ ] basic intro i

[2020-03-22 06:58] ivan-aksamentov commented on #71
Hi @miksa1987,

It'd be awesome! Make sure you coordinate with other folks, such as in #83  and other issues and PRs listed above

That's a great design idea!

That'd be fantastic! Although, I am not sure if our graph library allows that to be done easily or even at all. But I'd be glad if you can look into it!

Please, in order to ensure that the merge conflicts are small and there is no work was

[2020-03-22 07:01] hannesgr commented on #56
I've rebased #85

I updated #85 so we use spaces instead of dashes :)

[2020-03-22 07:06] ivan-aksamentov opened #108 "Add acknowledgements, citations, additional links and reads"
As a scientific project we must ensure that all the science and data used in it is properly attributed.

We need to improve many aspects, but the most important and urgent is to develop a mechanism to properly cite the input data. See: https://github.com/neherlab/covid19_scenarios_data/issues/3

Additionally, the scientific section should be improved, to contain proper list of citations and additi

[2020-03-22 07:12] ivan-aksamentov opened #109 "Acknowledge contributors"
We are thankful to all our contributors and we want to acknowledge their efforts in readme and in the app itself.

Something like https://github.com/all-contributors/all-contributors would be wonderful.

Ideally :
 - [x] have an automatic tool that extracts Github logins of all contributors, types of their contributions and their avatars
 - [x] markdown snippet is then inserted to the readme secti

[2020-03-22 07:13] miksa1987 commented on #71
I'm going to look deeper into these two today for starters and open an issue when I'm ready to start working. I really hope your graph library makes it easy(or even possible, like you said) to adjust the popup position based on, for example, media queries. Personally that was a major annoyance when I tried this on my phone.

I'll do this by starting a "DO NOT MERGE" PR first and when it's ready, I

[2020-03-22 07:22] ivan-aksamentov opened #110 "Export to PDF, print layout and printing"
Additionally to the export to JSON and CSV, and so long awaited import features, we may also add export of parameters and results to PDF or a similar format (or multiple).

The use case: this would serve as a report generator for "busy executives". For example, scientists or medics would first tweak the simulator and then generate a PDF that is ready to be presented to their superiors, local polit

[2020-03-22 07:29] ivan-aksamentov opened #111 "Export: permission dialog to download more than one file"
The "Export" button implements export to files.

Because there is more than one file per one button click, browser triggers a permission dialog for allowing our app to download more than one file. If blocked, all future downloads are blocked for the domain, until explicitly re-allowed in privacy settings.

What would be the best way to proceed? For example:
 - leave as is (the permission dialog ma

[2020-03-22 07:35] ivan-aksamentov commented on #71
@miksa1987  Sounds like a plan!

I will join the chat too.

Yes, you can remove the "WIP" or "DO NOT MERGE" status or draft flag and and I'll review and merge. You may also ping me with `@ivan-aksamentov` to make sure I pay attention :)
And of course, let me know if you need something.

[2020-03-22 10:22] loehndorf commented on #11
Thanks, it works in Firefox!

[2020-03-22 10:34] loehndorf opened #112 "Basic API"
I was planning on running multiple scenarios based on distributions of the input parameters to move a way from a deterministic scenarios to quantile projections. This may be more helpful for decision-makers; hospitals, for example, that cannot take the predictions by face value, but that would plan for the most likely outcome and prepare for less likely ones.

The problem so far is that I must man

[2020-03-22 11:12] ruisaraiva19 commented on #101
@ivan-aksamentov before starting to re-enable linting on build-time/development-time, we may want to migrate from TSLint to ESLint ([TSLint is deprecated](https://github.com/palantir/tslint/issues/4534)).

Regarding linting tastes, I think we can use a more standard config without much nitpicking to be easy for everyone to contribute to the project.

Integrating these tools with the IDE is one eas

[2020-03-22 11:30] kibertoad commented on #21
@ivan-aksamentov @ksatirli
One thing that I dislike about Travis is how repeated executions on same PR often result in significant waiting in queue time, which is not the case with CircleCI (not sure how it is with GitHub Actions).

To chime in on beefing up CI: I don't think you need snyk or lighthouse bots, both of those can be executed programmatically from npm as a part of the build process, s

[2020-03-22 11:32] kibertoad commented on #21
This also looks interesting - https://deepscan.io/ - but I've never used it before.

[2020-03-22 12:03] ruisaraiva19 commented on #16
PR with issue templates for bug reports, feature requests, and documentation ready for review.

[2020-03-22 12:18] ivnnv commented on #38
@maktarsis, as suggested, its much easier and future-proof to use WSL for any JS development,, I wont even try to waste time trying to run any JS project without WSL.

@dilantha111 dependencies are properly set, I didn't do anything special butof following the steps one by one (remember to have installed and using the exact version of node (12.16.1), remove node_modules and install again.

[2020-03-22 12:37] ivnnv commented on #112
@loehndorf I suggest you to tag this as a enhancement rather than a bug...

[2020-03-22 13:21] miksa1987 opened #115 "Reposition chart tooltip on mobile"
Hi,

I mentioned I could be working on this in this issue: [#71](https://github.com/neherlab/covid19_scenarios/issues/71)

I think I found a way to position the tooltips so that they're not in the way when on mobile, Recharts offers a position prop on Tooltip component. So I thought to make a reusable ResponsiveTooltip component, which would just render a Tooltip with a specific position according

[2020-03-22 13:38] alo8 opened #116 "Enhance model"
Proposal to improve the model used to provide more realistic results.

Current set of differential equations (just using the infected individuals as an example):
<a href="https://www.codecogs.com/eqnedit.php?latex=\frac{\mathrm{d}&space;I(t)&space;}{\mathrm{d}&space;t}=&space;E(t)/t_l-I(t)/t_i" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\frac{\mathrm{d}&space;I(t)&space;}{\math

[2020-03-22 13:44] dilantha111 commented on #38
@ivnnv  I am not sure what went wrong first. But I cloned it to the inside the ubuntu. And connected with vscode remote-wsl plugin. Now it's working fine. Thanks.

[2020-03-22 14:38] pinanunes commented on #11
The zip file would be a good solution!

[2020-03-22 14:49] lordrip commented on #20
@ivan-aksamentov sure thing, I'll do, in order hand, and please excuse myself if this was already asked, but, CRA script shouldn't help us with all of this? I mean, developing and building for Windows (and also for IE)?.

In any case, I'll concentrate in your direction

[2020-03-22 14:54] loehndorf commented on #112
Label was added automatically. I will open this as a new empty issue.

[2020-03-22 14:54] #112 closed

[2020-03-22 14:55] loehndorf opened #117 "Basic API"
I was planning on running multiple scenarios based on distributions of the input parameters to move a way from a deterministic scenarios to quantile projections. This may be more helpful for decision-makers; hospitals, for example, that cannot take the predictions by face value, but that would plan for the most likely outcome and prepare for less likely ones.

The problem so far is that I must man

[2020-03-22 16:35] rneher commented on #102
Yes, this is due to the interpolation. I think maintaining an internal copy of additional points while only displaying a few will result in even more confusing and unexpected results. Interpolating the graph with less than 5 values doesn't make much sense. issue #14 or related ideas should alleviate this. For the time being, we can impose a minimum on the number of points.

[2020-03-22 16:39] rneher commented on #116
Thanks @alo8. Turning this into a delay differential equation might be useful. We could eliminate the exposed state in that case. but specifying the initial condition requires more care in that case. But having the exposed state already introduces a delay, so we don't expect this to change the model qualitatively.

[2020-03-22 16:45] rneher commented on #14
Here is another proposal to improve the specification of mitigation and infection control measures.
[code]
One could have a date range selector and then include these as horizontal bars in the result plot. More measures could be added with an 'add' button (similar to filters in search interfaces). This would then translate into a time series with a few vertical steps. But the general logic of a li

[2020-03-22 17:16] ivan-aksamentov commented on #38
@all could you please check this setup in plain Windows CMD for me branch `dev/fix-windows-dx`):

[code]

and then

[code]

Please clone fresh as shown above!
I tested on Windows 7 VM and it seem to be working okay. Would be nice to have a confirmation for  Windows 10 as well.

[2020-03-22 17:27] rcbevans commented on #38
I'll give it a try shortly.  I got most of the way there there on Friday before a Sev0 came up at work and I didn't get back to this, sorry!

[2020-03-22 17:47] tryggvigy commented on #107
I'm no designer but is this close to what you have in mind?

| Mobile | Desktop |
| -| -|
| ![Google Pixel 2 - 2](https://user-images.githubusercontent.com/2373958/77256180-77c2b580-6c64-11ea-8882-ef11e40077fa.png) | ![MacBook Pro - 1](https://user-images.githubusercontent.com/2373958/77256177-76918880-6c64-11ea-9529-507fd7574162.png)

There is plenty of space to move things around and add more co

[2020-03-22 17:56] maktarsis commented on #38
@ivan-aksamentov

I can confirm that it works on **windows 10**

[2020-03-22 17:58] maktarsis commented on #38
consider to pull it in master asap
thanks @ivan-aksamentov

[2020-03-22 17:59] jamesgecko commented on #38
Windows 10 here. It works with the following warning:
[code]

Additionally, the `yarn dev` console log says it's running from `http://0.0.0.0:3000/`, but it only appears to be accessible via `http://localhost:3000/`.

I can open the compiled site in the browser and click around without any obvious issues.

- - -

Side note, it appears to behave identically for me regardless of if I'm doing a fresh

[2020-03-22 18:19] ivan-aksamentov commented on #38
Thanks folks! It's on master now.

The warning in `moment`'s locales is still to be fixed. It was on Unix too, but this snippet from the interwebs solved it:

https://github.com/neherlab/covid19_scenarios/blob/28b14683407edd173d25b6789b0a6f3cf5a8a3ff/config/webpack/webpack.client.babel.ts#L327-L339

I suspect path separators need to be adjusted for Windows.

[2020-03-22 18:45] ivan-aksamentov opened #119 "Add more e2e tests"
# 🙋 Feature Request

We need to cover some more user interactions.

Basically, any usage scenario is:
 - change values on the right
 - observe results appearing on the left
 - [optionally] change values again
 - [optionally] observe results changing on the left

Making sure that we at least don't crash and render something on simple interactions, like setting wrong values in the number boxes would

[2020-03-22 18:54] ivan-aksamentov commented on #101
@ruisaraiva19 The migration is already there. I mean I am using `@typescript-eslint/*` family of packages in `eslint`.

https://github.com/neherlab/covid19_scenarios/blob/4df9bd6905e3892b97e8df295594609f025bc141/.eslintrc.js#L24-L26

But I still keep `tslint` around because `@typescript-eslint/*`  don't yet cover some of the checks that require type information:
https://github.com/typescript-eslin

[2020-03-22 18:58] ivan-aksamentov commented on #101
When relaxing the configs make sure you understand that this is a somewhat mission critical project and in the realities of an unrolled pandemic, specialists may in one way or another rely on this tool's predictions. It would be nice for it to be of a slightly higher quality than a typical web app.

Now of course, currently it's a mess. But I would prefer to clean the mess than just disable the ch

[2020-03-22 19:00] kmid5280 commented on #38
@ivan-aksamentov So far so good on my end. It's running on my machine with the recent changes.

[2020-03-22 19:07] ivan-aksamentov commented on #21
@kibertoad yeah, I considered CircleCI too. It just required some more setup in terms of accounts and I did not wanted to bother Richard, he was very busy at that time.
I guess we could migrate, I am not against it.

Linters are not executed due to the fact that we've got like 500 errors there... Hence: https://github.com/neherlab/covid19_scenarios/issues/101

Coverage.. well you saw the state of

[2020-03-22 19:09] rneher opened #120 "Flexible time range for population presets"
# 🙋 Feature Request
The top left panel contains population parameters and the simulation time range. The latter partly belongs to the population (the start of the outbreak) and is partly depends on the question the user is asking.  tMin in particular should be tied to the initial case count.

## 🤔 Expected Behavior
The initial condition should be flexible both with regard to case count and time. W

[2020-03-22 19:25] ruisaraiva19 commented on #101
By running both ESLint and TSLint, we are gonna have conflicts when we start to apply fixes.

[2020-03-22 19:40] alo8 commented on #116
I made a simple, quick comparison of the current model and this proposal: (No averaging/filtering applied.  Sorry for so many lines in one graph)
![pic1](https://user-images.githubusercontent.com/8531651/77258697-9df44f80-6c7c-11ea-8978-ec1414ba9a48.jpg)
Scenario parameters are as shown here:
![pic2](https://user-images.githubusercontent.com/8531651/77258699-9e8ce600-6c7c-11ea-8bda-f61f65ab56e0.jp

[2020-03-22 20:07] sameerasaad commented on #56
I can help adding Arabic language and add some data for the middle east countries

[2020-03-22 20:40] jsmith commented on #101
For type errors, I noticed that `d3` types hadn't been included yet. I added these types on a branch and fixed the associated type errors. This reduced the type errors to 63! I've confirmed that `yarn dev|prod|test` still work and created a PR: #123

[2020-03-22 21:31] jsmith commented on #31
Hi @brunorzn, hopefully you don't mind me jumping in on this! I'm a very big fan of [io-ts](https://github.com/gcanti/io-ts) for serializing/deserializing data to/from JSON. Serializing isn't as big of deal but this would certainly be useful for the deserialization of the JSON encoded in the URL.

The code would look something like this:
[code]

Then, you can simply do something like this for dese

[2020-03-22 21:39] nnoll commented on #116
@alo8: thanks for your suggestions! I have a few clarifying questions.

Are you proposing to remove the exposed class and replace with a time-delay in it's place as your proposal of newInfectious = newCases[-latencyPeriod] suggests? Or do you want to add an overall time-delay between the number of infected vs exposed and leave the subpopulations the same?

If it's the former, then I'm not sure I e

[2020-03-22 21:42] jsmith commented on #101
Currently, there is a `src/algorithms/models.js` file. Would converting this file to a `.ts` file be included in the scope of this issue?

[2020-03-22 21:44] ivan-aksamentov commented on #16
@ruisaraiva19 You are doing an incredible job, thank you!
In fact it's so good that today we have an influx of devs so large that I cannot keep up with all the PRs and issues. Oh well, first-world problems :)

[2020-03-22 21:47] ruisaraiva19 commented on #16
@ivan-aksamentov I'm glad I could help 👌.

[2020-03-22 21:51] nnoll commented on #120
An additional thought on this overhaul is that it would be nice to have the % confirmed cases also toggle-able by scenarios. This could be estimated from our case/death data just as tMin and the number of initial cases.

[2020-03-22 21:53] ivan-aksamentov commented on #20
@lordrip we fixed development on Windows today (hopefully) in #38,  towards the end.

Regarding the app not working in IE, CRA would not help at all, as every app uses different stuff and requires different polyfills. Plus, our build system have so much stuff, that changing to CRA  right now would be a hiuge adventure. By the way, by CRA you mean `create-react-app` and their scripts package, right

[2020-03-22 22:03] ivan-aksamentov commented on #107
@tryggvigy Holy Molly, this is gorgeous!
I will merge the same second you submit a PA :heart_eyes:

[2020-03-22 22:05] lukepighetti commented on #56
@sameerasaad do we need full RTL lang support to support Arabic?

[2020-03-22 22:15] rodolfoalmeida01 commented on #83
Hi, Ivan, thanks!
We've designed the following wireframe sketch with some of the changes we propose (desktop only for now). It'd probably be best indeed to split these changes in smaller pull requests so as to avoid merge conflicts.

![MacBook Pro - 1](https://user-images.githubusercontent.com/18314316/77261979-371d6900-6c71-11ea-8066-0f034702dd2c.png)

**PROPOSED CHANGES:
Design**
- [ ] Alter fon

[2020-03-22 22:39] arieltonglet commented on #14
This seems like an awesome feature :)
It worries me a little that it could make this part of the app a little too complex for the average user, but it sure deserves a try, specially as we are working with presets already.
I think we could tackle this when me and @rodolfoalmeida01 finish the “overall design” changes, and get to the charts. Do you agree?

[2020-03-22 22:49] ivan-aksamentov commented on #83
@rodolfoalmeida01 This looks wonderful! Can't wait to see these little checkboxes checked :)

I am not sure. @rneher should know better. I think we plan to move simulation params, like date range somewhere else.

Also, selecting "country - no mitigation" defaults to Germany, when there are other fields also being altered. Labeling it as "Germany, no mitigation, moderate/north" might convey all the

[2020-03-22 23:36] brunorzn commented on #31
I agree with you @jsmith , in theory, but we're talking about adding two dependencies to the codebase, just for the sake of this one deserialisation (which is ugly and not very well typed, but working).

I think I would focus on fixing the existing TS/lint errors first (see `yarn lint`), and consolidating the  codebase before thinking about moving too fast in that `fp-ts` direction.

But that's ju

[2020-03-22 23:41] ivan-aksamentov commented on #101
@jsmith Absolutely! But careful with moving things around. Maybe tests first?
Correctness of the results is of utter importance for this project.

[2020-03-22 23:45] FireLizard commented on #56
Some errors occur due to missing translations of json files in `./src/assets/data/`. For example when choosing the preset scenario "Country - no mitigation" it shows Error: population scenario "Deutschland" not found.

Maybe we can exclude these translation in the first place.

[2020-03-22 23:46] tryggvigy commented on #107
Great! I'll start working on a PR as soon as I can.

---------

Any thoughts already on exact text we want in these and other sections of the landing page?

[2020-03-22 23:55] ivan-aksamentov commented on #56
See also: @FireLizard 's PR with German translation: #77

[2020-03-22 23:56] ivan-aksamentov commented on #56
@FireLizard , yeah it looks like we are translating too much.

These JSON files are generated from the external data and are not going to be translated. So Deutschland should be made back Germany before we fetch data by this key.

[2020-03-23 00:01] nnoll opened #132 "Toggle function on plots of results"
# 🙋 Feature Request

Our previous plotting library Plotly.js had the ability to click on a legend label to toggle whether or not a particular plot is displayed. I've searched but can't find a way to recapitulate this feature with our current plotting library.

This would have two major benefits:
  (i) We could show data not shown here (or shown previously) e.g. predicted hospitalizations.
  (ii) W

[2020-03-23 00:01] ivan-aksamentov commented on #38
@eloisetaylor5693 reported that `webpack-dev-server` serving on `0.0.0.0` does not work properly for them:
https://github.com/neherlab/covid19_scenarios/pull/114#discussion_r396116174
Do you folks have any thought on that? Feel free to patch.

[2020-03-23 00:31] ivan-aksamentov opened #134 "In Safari help text does not appear on clicking the help buttons"
# 🐛 Bug Report

In Safari help text does not appear on clicking the help buttons

This was reported by @Johan-A-M in chat:
https://spectrum.chat/covid19-scenarios/general/questions-discussions~8d49f461-a890-4beb-84f7-2d6ed0ae503a?m=MTU4NDkwODk0NTM5MQ==

## 🤔 Expected Behavior

Clicking on help button should bring up the popup with explanation text

## 😯 Current Behavior

Apparently, nothing happen

[2020-03-23 00:40] ivan-aksamentov commented on #20
Related #134

[2020-03-23 01:22] gj262 commented on #134
Sounds like: https://github.com/reactstrap/reactstrap/issues/1428

[2020-03-23 01:26] Eisenh opened #137 ""Infectious Period" not modeled correctly"
# 🐛 Bug Report
The "infectious period" does not seem to operate as expected. Increasing the infectious period reduces the total deaths and infections.
For example, with the default scenario:
infectious period 3 days:
Total death: | 1773
Total severe: | 3967
Peak severe: | 665
Peak critical: | 611

Infectious period 7 days
Total death: | 1309
Total severe: | 3123
Peak severe: | 274
Peak critical: |

[2020-03-23 01:39] ivan-aksamentov commented on #137
@Eisenh  Thanks for the report! I will let @nnoll and @rneher to analyze that.

[2020-03-23 01:39] heuermh commented on #13
Thank you, @ivan-aksamentov, for the detailed response!  I will follow the work in #83 and contribute if I am able to.

[2020-03-23 01:40] ivan-aksamentov commented on #134
@gj262 Good catch! Do you have a possibility to test on Safari?

[2020-03-23 01:43] rebmullin commented on #134
hi @ivan-aksamentov, I just created a patch for this. Please let me know if anything is needed. thanks :)

[2020-03-23 01:43] gj262 commented on #134
@ivan-aksamentov  I do. It looks like many people are on this bug! I'll see how those PRs go.

[2020-03-23 01:44] rebmullin commented on #134
I didn't realize so many people were working on this one! i can close mine if needed too:)

[2020-03-23 01:46] nnoll commented on #137
This appears to be a duplicate of Issue #74 and relates to a counter-intuitive but ultimately correct feature of the model: R0 is defined **per case** not per unit time so that increasing the infectious period effectively slows down the epidemic by spreading out the same number of additional infections over a longer period of time. This, in a sense, slows the dynamics and thus ultimately the strai

[2020-03-23 01:48] gj262 commented on #134
Hi @rebmullin I tried out your PR but it does not work for my safari. I'll give #138 a go.

[2020-03-23 01:51] ivan-aksamentov commented on #134
@rebmullin @gj262 That was a fix response to user's bug report :)

[2020-03-23 01:59] gj262 commented on #134
I took a look at: http://reactstrap.github.io/components/popovers/#Popovers-Trigger in safari. The 'legacy' and 'click' methods work and perhaps we can simply use one of those for the Popover. I'll give that a try.

[2020-03-23 02:20] gj262 commented on #134
Ok. The following works with chrome and safari.

- Use an UncontrolledPopover rather than a Popover.
- Use trigger="legacy"
- Keep the onClick prop on Button to avoid triggering dropdown toggle for labels that have them. i.e. Results.

In Chrome the help click behaves as present. In Safari the popover appears but the same help icon has to be clicked again to hide it. In Chrome you can click anywhe

[2020-03-23 02:28] ivan-aksamentov commented on #137
@nnoll We could alsoo add this remark to the upcoming FAQ page as well as add small paragraphs to the help popups for both R0 and Infectious Period.

[2020-03-23 02:46] ivan-aksamentov commented on #134
@gj262 We wanted these popovers to contain links and other rich content later on, with more thorough explanations. People might select and copy-paste text for example. This would help with issues like this https://github.com/neherlab/covid19_scenarios/issues/137

I think the UncontrolledPopover disappears when you try to click on it or interact in any other way.

How about rip this thing off for g

[2020-03-23 02:56] ivan-aksamentov commented on #107
@tryggvigy You can play with what the Overview section in the Readme has
https://github.com/neherlab/covid19_scenarios/blob/master/README.md#overview
It will probably need to be slightly less scientific and somewhat shorter. Feel free to rephrase and to adjust the length to mobile use-case.
We can link to About page and FAQ, but I'm afraid we may lose users there, as they will not know where is si

[2020-03-23 03:53] ivan-aksamentov opened #142 "Scrolling position is remembered incorrectly after page reload"
# 🐛 Bug Report

I don't have the exact steps yet. It is especially noticeable on a narrow device. Also when dev tools are open wide and the viewport is narrower and can be scrolled.

## 🤔 Expected Behavior

Remembered scrolling position is reset after page reload, preferably.
Otherwise, maybe at least reset after I scroll to the top?
Lack of memory whatsoever would also be fine. We don't need fanc

[2020-03-23 03:59] gj262 commented on #134
Hi @ivan-aksamentov,

UncontrolledPopover with trigger="legacy" does allow for text selection.

Re: start from scratch. I'd avoid it. What you have works well enough. Other libraries will have their own issues. A homegrown popover will have its own issues. So until you are ready to completely redesign and jettison Bootstrap, I'd live with it. (my quick take after only helping out for 2 days). :)

[2020-03-23 04:12] ivan-aksamentov commented on #134
@gj262 Okay then, let's see how it goes.

Storybook is great, but I am not quite sure who will be maintaining it. Not that we have a dedicated designer. It will probably be permanently broken.
If you feel like this is something useful, and if you can come by time to time and fix things, then go ahead and add it, project will only become better I think.

[2020-03-23 04:48] rcbevans commented on #132
Created a PR adding the desired functionality.  By default, all data available is shown on the chart.  Cursor now shows the 'hand' on hover to indicate interactivity.  Clicking toggles visibility of line/scatter on chart, and when disabled, the legend label shows with dark-grey, rather than black, text, and with strike-through.

![Screenshot of feature implementation](https://user-images.githubuse

[2020-03-23 05:01] rcbevans commented on #111
I agree that a dialog asking about downloading "multiple" files, especially on first click, could be scary to some.  They may suspect that the file they wanted is downloaded, but the site is trying to sneakily add additional files onto their machine.

Worse, Chrome has a browser setting with auto-blocks any site from downloading multiple files, without even displaying a prompt to the user, in whic

[2020-03-23 05:03] #132 closed

[2020-03-23 05:05] rcbevans commented on #25
Ah, didn't realize you had reactstrap.  In that case, there is already a nice component ready to be used which is cleaner than my css based implementation (not to mention likely more bug-free, and accessible friendly.

How does this issue jive with #107 for adding a landing page?  Is that preferred to a modal, or anticipated to be in addition to?

[2020-03-23 05:08] ivan-aksamentov commented on #111
@rcbevans I was also thinking about a separate window.

We might implement a unified user experience for everything related to persistence:
 - [x] export to params,json + results.csv (.zip, list of files, copy-paste text)
 - [ ] import from params,json and/or results.csv
 - [ ] saving to local storage (possibly to server later on)
 - [x] sharing via URL (analog of params.json)
 - [ ] sharing on wi

[2020-03-23 05:17] rcbevans commented on #111
Browsers also show warnings in relation to pop-ups, in the same way as with downloading files, and pop-ups themselves can cause usability issues; frustration/confusion if a window is created and the user clicks elsewhere causing the pop-up to disappear behind the focused primary window.

[2020-03-23 05:18] ivan-aksamentov commented on #25
@rcbevans
With popup in simulator we will gather consent once. I think we need an explicit action, like "I agree" checkbox. Then we store the consent version and skip the popup, until we release a new version of the app with a new version of disclaimer.Id new disclaimer version is greater than the one that is stored, show popup again.

Landing is purely cosmetic, we will have a checkbox to skip.

[2020-03-23 05:22] #134 closed

[2020-03-23 05:23] rcbevans commented on #25
If users come to the site, they're going to want the simulator; having to click through two dialogs to reach what they want could lose users at each step.

I think the modal shouldn't intercept navigations to the simulator.  Perhaps update the routes so the sim is at /simulator, and the landing page functions as a homepage at /.  I think the modal should show every time, but with a checkbox to not

[2020-03-23 05:25] rcbevans commented on #25
That way users can bookmark /simulator to jump straight to it.  I think it's a good idea to show the disclaimer if terms change, just need to ensure it doesn't happen *too* often, else it'll annoy.

[2020-03-23 05:31] ivan-aksamentov commented on #111
@rcbevans browsers show warnings only for he actual popup windows, right? Like the new browser instances. I meant more like bootstrap popup modals, similar to yours in https://github.com/neherlab/covid19_scenarios/issues/25, but maybe a bit bigger.

[2020-03-23 05:34] ivan-aksamentov commented on #111
Haha reread my message https://github.com/neherlab/covid19_scenarios/issues/111#issuecomment-602388260 and it says "separate window". No, of course we will not have popups from year 1999 :)

[2020-03-23 05:34] rcbevans commented on #111
Ah, sorry.  Pop-up I always assume to be new browser windows; yes, browsers have warnings for those.  I initially meant modal dialog which is the dialog which renders over the rest of the page content, as in my other PR; no warnings for those.

[2020-03-23 05:35] jamesgecko commented on #38
My Windows 10 machine does not respond to 0.0.0.0. I can ping 127.0.0.1 but not 0.0.0.0. This seems to be a "loosely defined concept that is implemented differently on various platforms" thing. Your VM's network driver may be binding it. https://superuser.com/a/950021

[2020-03-23 05:36] ivan-aksamentov commented on #111
@good. In fact, we already have something like this for import:

https://github.com/neherlab/covid19_scenarios/blob/6ddaba72706eb6f69b80a687c92dd7fd2253d104/src/components/Main/Compare/ComparisonModalWithButton.tsx

but it needs more love...

[2020-03-23 05:46] hannesgr commented on #56
I think the best solution maybe is to exclude external data as @FireLizard  mentioned, but still translate the epidemiological scenario presets (as they are not generated from external data).

I made a draft PR if you that sounds like an OK solution: #145

[2020-03-23 05:46] ivan-aksamentov commented on #38
@jamesgecko, so does current dev setup work for you?

My VM does not have a network adapter. Maybe it does some magic otherwise, but again it works for 5 people above on their machines.

All I care is that you can run `yarn dev` and then open a browser, type `http://localhost:3000` and it opens the app.

If it's not, please submit the PR that fixes it or uses a variable for host.

[2020-03-23 05:48] jamesgecko commented on #38
Yes, `http://localhost:3000` works.

[2020-03-23 05:58] ivan-aksamentov commented on #56
@hannesgr @FireLizard okay, I merged both and it seems to be working. Thanks a lot!
Feel free to amend if anything else is missing there.

[2020-03-23 06:02] ivan-aksamentov commented on #56
@hannesgr

For dropdowns we currently have a `value` and a `label`. For string-valued dropdowns these are the same. For numbers we just stringify the number I think to get a value. And for months we have a mapping of a number (0..11) to the name of the month.

What is the best way to include countries and months into i18n?

[2020-03-23 06:30] ivan-aksamentov opened #147 "Prettify page transitions and loading screen"
Current page transitions are broken and loading indicator is very ugly.

On switching pages the old page fades out and the new pages fade in, but they are not aligned.  Neither the loading indicator.

Would be nice to prettify. Maybe something with fading and a spinner?

Relates: https://github.com/neherlab/covid19_scenarios/issues/148

[2020-03-23 06:32] ivan-aksamentov opened #148 "Prettify About, Team and upcoming FAQ pages"
We need to make these a bit prettier, because right now it's a pure horror.

Unleash your imagination! 👨‍🎨

Related:
https://github.com/neherlab/covid19_scenarios/issues/147

P.S. FAQ page can be found on branch `feat/faq`

[2020-03-23 06:39] ivan-aksamentov commented on #115
@miksa1987 Looks like something worth exploring.
Feel free to sketch a first draft, and we will see if it flies. Don't have to be perfect in the beginning.

Important is that it does not break desktop experience, as this is our primary target. But again, first draft may have issues. We will fix them eventually.

[2020-03-23 06:44] #63 closed

[2020-03-23 06:46] ivan-aksamentov commented on #16
I think we are doing much better now. I will close this issue, but if you have any suggestions, don't hesitate to open a new issue.

[2020-03-23 06:46] #16 closed

[2020-03-23 06:48] ivan-aksamentov commented on #21
@kibertoad I've got CircleCI account running and it is waiting for a config file. Would be fantastic if you could sketch a first draft. I need to do something else, but will join later.

[2020-03-23 06:49] ivan-aksamentov commented on #23
I think we are doing a bit better. We will probably do another pass in a couple of weeks.
Closing the issue.

[2020-03-23 06:49] #23 closed

[2020-03-23 06:55] miksa1987 commented on #115
@ivan-aksamentov yes, I opened up a pull request yesterday evening [here](https://github.com/ivan-aksamentov/covid19_scenarios/pull/1)

I tested it on my computer and desktop experience shouldn't be affected, although More people should see if it works on different machines.

Of course, suggestions for improvements are more than welcome.

[2020-03-23 06:57] #28 closed

[2020-03-23 06:58] ivan-aksamentov commented on #38
I am closing this then. If someone has any other suggestions, please open another issue or a PR.

[2020-03-23 06:58] #38 closed

[2020-03-23 07:14] ivan-aksamentov commented on #115
@miksa1987 oh, it's a wrong repo. You submitted to
https://github.com/ivan-aksamentov/covid19_scenarios
but you need to submit to
https://github.com/neherlab/covid19_scenarios

[2020-03-23 07:17] miksa1987 commented on #115
@ivan-aksamentov whoops. I'm going to fix that in the evening when I get home. Sorry about the inconvenience!

[2020-03-23 07:20] rcbevans opened #150 "Essential routes shouldn't be chunked separate to the main bundle"
Currently, each page (home, about, notfound, team) is rendered via the `Loadable` component which uses webpack magic comments and promise based resolution to achieve chunking, seeking to make the initial page load smaller.

It doesn't make much sense to have main page content loading outside of the initial bundle though, and in the current configuration, it may well make initial page load (to some

[2020-03-23 08:00] ivan-aksamentov commented on #150
@rcbevans Thanks for reviewing, Rich. Yeah, it is currently suboptimal, but I wouldn't bother.
That being said, if you want - totally go for it!

We are currently lacking some critical features, like import and autorun and the app is quite ugly. So all the non-essential performance optimization will only be prioritized after those are sorted out.

[2020-03-23 08:08] rneher commented on #137
there is a QA in the FAQ branch that isn't merged yet. I'll make a PR. we can always add more QAs later. The popup says this: "Average number of days a person is infectious. Over this time, R0 infections happen on average. Together with the latency time, this defines the serial interval. The longer the serial interval, the slower the outbreak." We can make this a little more explicit.

[2020-03-23 11:19] lordrip commented on #20
Hi @ivan-aksamentov, I've migrated build part to CRA, added polyfills for IE and it works. There's still more work remaining regarding the other tools that you have in place. I'll work a little bit more on this after work and I'll share the branch to check.

[2020-03-23 11:57] rneher commented on #142
this behavior goes away if the condition here

https://github.com/neherlab/covid19_scenarios/blob/master/src/components/Main/Main.tsx#L129

evaluates to false.

[2020-03-23 13:24] noleti opened #154 "'Confirmed cases past 3 days'"
# 🙋 Feature Request

'Confirmed cases past 3 days' as currently plotted in the 'Cases through time' is likely intended to represent the measured number of infectious people (as color is the same as simulated Infectious). I assume the 3 days period is thus chosen based on the 'infectious period' = 3 standard setting. Would it be possible to adapt the aggregation period for measured infected if the

[2020-03-23 14:54] rneher commented on #154
thanks, @noleti. Good point and you are right that this is meant to match the `infectious`. The time window is currently hard coded in the client-side javascript:

https://github.com/neherlab/covid19_scenarios/blob/master/src/components/Main/Results/DeterministicLinePlot.tsx#L111

But we would need to decide how to deal with non-integers and put otherwise sensible bounds.

[2020-03-23 15:20] noleti commented on #154
non-integers should be possible to approximate by using the decimal places as weight for the first value in the window. But that would change your logic somewhat, and likely not fit into your nice one-liner. The GUI currently does not allow to set non-integer values btw. The `i>2` check also seems to depend on `infectious period`

[2020-03-23 15:58] rneher commented on #14
That would be fantastic! We could then also have presets for different measures like `school closure`, `lock-down`, `vaccine` etc that can be added one by one from a drop down or similar with a default value (school -20%, lock-down -40%, vaccine -80% just as examples). User then would need to select beginning and end (and these could have presets based on what we are observing now).

[2020-03-23 16:20] rneher commented on #116
One other aspect in your simulation output I am puzzled by is the rapid decrease of the critically ill after the peak. Did you replace all equations by delay equations?

[2020-03-23 16:54] nnoll commented on #137
I would be hesitant to change such parameters as these are parameterized in natural clinical/public health variables: i.e. serial interval and R0. Since we have an entry in the upcoming FAQ that explains this effect, I'll close this but we can reopen the discussion if the problem persists.

[2020-03-23 16:54] #137 closed

[2020-03-23 16:59] jsmith commented on #31
Yeah I definitely understand that. Fixing the existing type errors is currently what I'm trying to help out with! One more thing I will point out is that `io-ts` may also be useful in the `processUserResult`function in `src/algorithms/utils/userResult.ts`. This function is currently not implemented but also deals with deserialization (although it is currently deserializing CSV data and not JSON da

[2020-03-23 17:17] nnoll opened #348 "Keep track of sources for populationData.tsv"
As of now we don't track where we get this data from. I propose we amend sources.json to have two top-level fields: ["case-counts", "populationData"] in which we store all information from which we derive our data.

The data below "case-counts" would be equivalent to what's now, while "populationData" would hold analogous level information for hospital bed/ICU capacity. Keys in the JSON should be

[2020-03-23 18:51] #25 closed

[2020-03-23 19:19] ivan-aksamentov opened #158 "Human-friendly number formats (bonus: i18n)"
# 🙋 Feature Request

## 🔦 Context

Currently the numbers in plot tooltips, and possibly in other places are displayed as raw values.
for example:
[code]
which is completely unreadable.

## 😯 Describe the feature

We need to display those in a human-friendly manner

[code]

## 💻 Examples

See above

## 💁 Possible Solution

 - [ ] Wee need to preserve a number of ***significant*** digits (non-zeroes

[2020-03-23 19:24] ivan-aksamentov opened #159 "Make tooltip text to arrange in columns responsively"
# 🙋 Feature Request

## 🔦 Context

Currently plot tooltips are very tall and obscure the entire plot.
Could we arrange the items in columns responsively?

In particular on mobile. See the work in https://github.com/neherlab/covid19_scenarios/pull/157

## 😯 Describe the feature

Switch tooltip display to columns when appropriate to use the space more efficiently

## 💻 Examples

## 💁 Possible Soluti

[2020-03-23 19:39] alo8 commented on #116
@nnol, @rneher: thanks for your interest and feedback!

Let me try to explain the proposal in more detail.
I refer to the nomenclature used in model.js and run.js:

If _newPop_ would also store the values of _newCases_,_newInfectious_,... for each time step, then one could access in each time step iteration not only the last elements (_pop_) but also older ones from the _dynamics_ list. For simpli

[2020-03-23 21:13] nataliadgepi opened #162 "Trying to create scenarios for a single hospital"
Hello,

Thank you for your wonderful model and great user friendly interface. I was wondering if Canadian data on cases could be added, specifically for each province. There is an open data source with all cases reported for each province here: COVID-19 Canada Open Data Working Group. Epidemiological Data from the COVID-19 Outbreak in Canada. https://github.com/ishaberry/Covid19Canada. (Access Dat

[2020-03-23 21:40] tryggvigy commented on #107
I got some progress on this today. https://github.com/neherlab/covid19_scenarios/pull/163

@ivan-aksamentov do you think we should have the landing page be a separate url from the simulator? It would require us to change the routing a bit. What I mean is something like:

The landing page would be https://neherlab.org/covid19/
and the simulator would live under https://neherlab.org/covid19/simulate

[2020-03-23 22:21] ivan-aksamentov commented on #162
@nataliadgepi
Hi Natalia, thanks so much for your suggestions.
I will let Richard and Nick to answer this.
CC: @rneher @nnoll

Regarding the data, the work is being done in a separate repository:
https://github.com/neherlab/covid19_scenarios_data

I created an issue there dedicated to the data from Canada:
https://github.com/neherlab/covid19_scenarios_data/issues/36

If you are available for imple

[2020-03-23 22:43] ivan-aksamentov commented on #56
Folks, in our current implementation, how to distinguish between different flavors of languages?
For example, we've got a translation from Brasil https://github.com/neherlab/covid19_scenarios/pull/165, which may or may not be the same as the Portuguese one, same for Spanish. Also would be nice to be prepared for different dialects of Chinese etc.

Don't hesitate to pick the remaining TODOs https:/

[2020-03-23 22:51] arieltonglet commented on #83
Thank you for the thorough explanation, @ivan-aksamentov !
We'll keep the "scenarios" term, and make some adjustments to the scenarios input.
As @rodolfoalmeida01 go on with this, I'm forking the project and making a draft pull request for the adjustments we are talking about here

[2020-03-23 23:21] nnoll commented on #162
Thank you so much for your contribution!

Regarding your first point, we can easily add the Canadian province cases, provided a parser for the data source you've linked to is written. Check out https://github.com/neherlab/covid19_scenarios_data for a description of what we need. I invite you to open a separate issue there.

As of now the hospital beds don't explicitly factor into the model -- it i

[2020-03-23 23:40] gj262 commented on #20
Hi @lordrip, I've downloaded a VM and can double check your changes for you when/if you want.
Cheers,
-Gavin

[2020-03-24 00:48] ivan-aksamentov commented on #101
@patrikvarga help is absolutely needed! Make sure you check PRs first though to not do duplicate work.

I removed "help wanted" because all the issues got marked, so the label became useless. But now I see it isn't. Do you know if this label is globally discoverable on GitHub?

How do I mark particularly important issues, like import #11  and autorun #17  so that people start picking those up?

[2020-03-24 00:52] ivan-aksamentov commented on #101
@patrikvarga Regarding priority, no particuar priority other than I will prefer merging a feature or  a bugfix PR that also addresses linting and types compared to a PR that just addresses linting and types. I mean in terms or merge conflicts. Lint and type fixes tend to be quite noisy.

[2020-03-24 01:03] ivan-aksamentov commented on #31
@brunorzn @jsmith We aren't really constrained with regards to dependencies. Whatever floats your boat. We already have a ton.

Features and correctness  are more important than bundle size and performance.

Don't forget, our app has quite a different angle compared to  a typical web app. In the realities of an unrolling worldwide tragedy, it's an emergency calculator, that helps to make things do

[2020-03-24 01:13] ivan-aksamentov commented on #107
@tryggvigy
What do you think would be the best user experience?

Can we pretend that both are in the `/` and just conditionally render? Not a best practice typically, right? And bad for SEO probably.

Or can we redirect to `/start` (landing) on first visit and keep simulator on `/`.

I want the URL to be short and intuitive, becaue we already have a mess of a domain name.

We also have now links t

[2020-03-24 01:19] ivan-aksamentov commented on #83
@arieltonglet You are fantastic folks! Thank you.
Your sketch also look like A4 page. I wonder if later we can also have a PDF- and print-friendly layout (for "busy executives")? https://github.com/neherlab/covid19_scenarios/issues/110

[2020-03-24 01:54] nataliadgepi commented on #162
Hi Ivan,
Thank you for your quick reply! I would love to help adding Canadian, provincial data although there is quite a bit missing. I will start a chat under the link that you provided.

Thank you!
Natalia

[2020-03-24 02:04] gj262 commented on #11
Is the desired feature simply to import previously exported form input and display it? Or are you looking to import and have side by side comparison?

[2020-03-24 02:04] nataliadgepi commented on #162
Thank you for your quick reply!

I will add the provincial data under the issue created. Thank you.

Fair enough.

I was wondering if you had or knew of an app that could calculate PPE for staff (by type). I realize this may be tough to forecast for different hospitals. I did find this tool https://files.asprtracie.hhs.gov/documents/aspr-tracie-hospital-ppe-planning-tool.pdf but not sure if anythi

[2020-03-24 03:46] ivan-aksamentov commented on #11
@gj262 Honestly, Gavin, we plan a lot of things. Way too many for the resources available :)

Basically, we want both.
We export 2 files: `params.json` and `results.tsv`. So we want to import both too.

 - [ ] `params.json` will populate the form (and optionally Run the algorithm, when autorun feature is done)
 - [ ] `results.tsv` should allow for comparison

I was thinking to gather all the persi

[2020-03-24 04:36] gj262 commented on #17
I also see the lag with the changes in PR #90. But the change looks right if the lag can be addressed. I'll dig into what is getting called (unless someone is already doing so...).

CC: @ivan-aksamentov

[2020-03-24 04:41] ivan-aksamentov commented on #17
@gj262 I don't know if anyone else is working on it other than @3b3ziz , but this is one of our top priorities, so go ahead and give it a good try :)

[2020-03-24 04:43] hannesgr commented on #56
I think for translating month names, the easiest solution might be to change the locale of moment
https://momentjs.com/docs/#/i18n/changing-locale/

Could be done in the callback

[2020-03-24 05:42] gj262 commented on #17
Once the graphs are drawn interactivity with the form is impaired. And this is regardless of manual Run click or auto Run. Just focusing different form inputs is sluggish. Stepping the counters is v. sluggish.

I'd be interested if this is seen by others with the current production site.

[2020-03-24 06:43] rcbevans commented on #17
I added a [PR](https://github.com/neherlab/covid19_scenarios/pull/170) for this using debouncing and react hooks.

The performance seems good to me, can be tried at https://covid19-scenarios-git-fork-rcbevans-autorunsimulation.covid19-scenarios.now.sh/

[2020-03-24 06:48] rcbevans commented on #17
I'm seeing sluggishness doing any kind of manual entry of values for population count etc, both using the value steppers, and typing, because of the 4 deep object copies which happen every time the form is validated:

[code]

In my PR I added a debounce to the validation of 500ms which feels like improves performance substantially, but once the debounced function triggers, the page still stutters.

[2020-03-24 07:14] gj262 commented on #17
What I ended up noticing was that the entire Main component tree re-renders for every click in the form(ix). And that is OK when the left hand side graphs are not present but quite slow when they are.

Both PRs #90 and #170 give the desired autorun functionality. Though I did not see overlapping validation calls with normal interaction so would not necessarily think debounce is required at present

[2020-03-24 07:19] gj262 commented on #17
And as previously noted, though maybe for another issue/time, using onChange would be a better hook for this over validate.

[2020-03-24 07:36] keevcodes commented on #159
@ivan-aksamentov  you're referring to this correct?
<img width="281" alt="Screenshot 2020-03-24 at 08 36 23" src="https://user-images.githubusercontent.com/17259420/77399889-99c65000-6daa-11ea-9c49-2c1ea4159270.png">

[2020-03-24 08:43] jc92 opened #172 "Inflated ICU numbers"
# 🐛 Bug Report

## How to reproduce

Steps to reproduce the issue:

 1. Open the application in a browser

 2. Run scenario for any country, e.g. Switzerland

 3. Export and compare hospitalised vs critical+overflow (ICU)

## 😯 Current Behavior
The numbers for critical+overflow are almost as high as for hospitalised.

## 🤔 Expected Behavior
The numbers for critical+overflow ( = ICU) should be a fr

[2020-03-24 09:00] 3b3ziz commented on #17
Sorry for being late.

I have tried debouncing multiple times but I am not convinced with it since that other than the population field, all fields ranges in small values so debouncing with 2 seconds would add a latency that is not needed.

I thinks we might debounce the onChange of that field specifically instead of debouncing the whole calculation.

@ivan-aksamentov @gj262 @rcbevans what do you

[2020-03-24 10:04] patrikvarga commented on #101
Yes, they are: https://github.com/issues?q=is%3Aopen+is%3Aissue+label%3A"help+wanted"
I suppose this might be one reason to keep the label?

Note: to me it didn't make a difference: I was looking at this repo to see where to help, and I found this repo via GitHub topic search. Only when I was looking at issues here did I notice the "help wanted" labels, so I thought those are more important to you

[2020-03-24 10:06] patrikvarga commented on #101
@ivan-aksamentov Thanks, that makes sense. As a "good first issue", I'll be probably looking at easy wins, i.e. still linting-only/typing-only changes (small ones of course).

[2020-03-24 10:58] Johan-A-M commented on #162
Just a comment from a clinician with minimal experience in this kind of modeling.
Wouldn't the forecasting of PPEs be extremely unreliable? I mean, in an ICU patient we could use up to 20-30 PPEs/day while unstable, and in another maybe 5. Also, if we're short on PPEs one day, I will act in one way to save material, but if we get a refill the next day, I might act in another way and visit the pati

[2020-03-24 11:14] patrikvarga commented on #101
@ivan-aksamentov See a few trivial PRs that I opened as to what I meant by "small changes", trying to not interfere with any other PRs or anyone's feature work.

[2020-03-24 15:26] gj262 commented on #11
Thanks for the feedback @ivan-aksamentov. This gives me a better understanding of what might be useful FWIW. Also @pinanunes comment and the PDF in https://github.com/neherlab/covid19_scenarios/issues/11#issuecomment-600076600 gives some clue as to how the comparison might be visualized.

The input params are already in the URL, so you have a form of sharing and the ability to do a side by side co

[2020-03-24 15:28] nataliadgepi commented on #162
Hi Johan, you are not being rude at all! I get it, it's completely unpredictable. In a situation where they are planning clean/dirty floors, staffing for peak they would like max (+/-) estimates of PPE needed to see how far off they are or how soon they will run out. Ideally they would have stockpile and not worry but much of the stockpile has been stolen so need to use strategies to minimize use

[2020-03-24 17:20] gj262 opened #181 "Multiple persistent shareable scenarios"
# 🙋 Feature Request

The current implementation shows a single scenario and allows the user to change it and view the results. The scenario input can be shared through the app URL.

This feature allows for multiple persistent and shareable scenarios as the title suggests :).

## 🔦 Context

This feature evolves from issues #11 and #31. And while not implementing these precisely it makes progress in

[2020-03-24 17:44] nnoll opened #182 "Modify the model to allow for non-exponential latency periods."
# 🙋 Feature Request

I want to generalize from an exponential distribution of latency time to a modifiable Erlang distribution that more accurately recapitulates measured distributions.

## 🔦 Context

Currently the exposed class models the latency period between exposure to an individual infected with COVID-19 and becoming ill. With a singular state, the distribution of times is exponential which

[2020-03-24 17:56] nnoll commented on #182
I open this to start a discussion. If this seems good, I'll implement it.

[2020-03-24 18:13] rneher commented on #182
Yes, would be a useful addition. I don't think we would need more than 2-3 states. One could also branch this to implement superpositions of distributions of different width.

[2020-03-24 18:50] nnoll commented on #172
I'm not convinced this is a bug. For simplicity, let's just focus on a reduced/simplified set of ODE's of the hospital/ICU interaction. And let's temporarily forget about the overflow class

Let A be the constant rate of patients sent to the hospital.
Let a be the rate patients become critical and must go to the ICU.
Let b be the rate of recovery in the hospital
Let d be the rate of recovery in th

[2020-03-24 19:25] jc92 commented on #172
Apologies if my questions are basic, it's been a while since I solved my last ODE.
Does your assumption imply that hospitalised people also include ICU patients?

[2020-03-24 19:27] nnoll commented on #172
This was pointed out to me by @rneher that the confusion could be caused by our loose terminology. The hospitalized category includes people in the hospital but not ICU/ICU overflow. We will change the terms to severe to be more accurate.

[2020-03-24 19:32] jc92 commented on #172
Thanks for the example.
Just wondering if hospitalized category includes people in the hospital but not ICU/ICU overflow, why do we have dH/dt depending on dC ?

[2020-03-24 19:40] nnoll commented on #172
No worries! I'm sorry if I am being confusion. We've hit the limitation of math notation without latex.

dC/dt denotes the time derivative of C. Read it as a singular variable. d*C is the rate at which critical patients leave the ICU and re-enter the hospital. In a given time step, the number of hospital patients increases by the constant rate A, but also the number of critical patients re-enterin

[2020-03-24 19:48] nielsenko opened #187 "Inconsistent death count depending on simulation range"
I tried to run a simulation for Denmark with default data, first with the default simulation range, ie. until september 1st, and then one until January 1st 2021.

Checking the death count on the 31st of august in both runs, come up with widely different numbers, ie. 346 vs. 489.

Did the same for USA-New York and got: 7281 vs. 10245.

I suspect you suffer from significant numeric instability.

[2020-03-24 19:55] nnoll commented on #187
@nielsenko I suspect this is due to the reinterpolation of the mitigation plot onto the new time window and not due to numerical instability within the simulation.

To test this, I ran Denmark twice with all default parameters, but with no mitigation, once for the default time window and once until January 1st 2021. Both times the number of deaths on August 31st was 66452.

Thus we most likely nee

[2020-03-24 20:00] nielsenko commented on #187
Good to hear you already have an hypothesis as to the cause. Good luck with your efforts.

[2020-03-24 20:05] lordrip commented on #20
Hi @gj262 thanks a lot for the help. I've uploaded a PR here https://github.com/neherlab/covid19_scenarios/pull/188, but I need to check how `now` works to be able to deploy a preview.

In other hand, I have a warning from snyk but I'm not able to log in and check what is it all about.

In any case, I'll keep updating the PR to fix this issues.

[2020-03-24 20:09] jc92 commented on #172
Thanks!
Just out of completeness. I am assuming you also take into account the fatality rate in dC/dt in the real model as well. Is this fatality rate within the window of 14 days?
Given that it is between 30-50% for critical cases.  I am just struggling to see how the number of ICU patients can remain as high as hospitalized ones.

[2020-03-24 20:37] nnoll commented on #172
Yes fatality is included in the full model.

I think another way to think about this is that we, based on estimates provided by our clinical colleagues, we assume patients reside in the ICU ~3x longer than they do in the hospital, independent of their final outcomes, which causes patients to accumulate in the ICU. I think the way to see this experimentally is set the ICU residence time equal to th

[2020-03-24 20:56] jc92 commented on #172
Indeed, I played around with different length of stays. Indeed the split ICU vs hospital looks different.
Another test I did, was setting fatality rate to 100%, then the peaks for hospitalised and ICU for CH /w moderate are fairly similar (~12% difference)
Does the fatality % happened at the end of the 14 days or randomly across the 2 weeks in ICU.

Thanks again, for all your explanations. Scary t

[2020-03-24 21:04] Johan-A-M commented on #162
@nataliadgepi We have had the same problem, staff stealing PPEs, it’s horrible.
Regarding the need for estimates for PPEs, were you referring to the ER, a general ward or the ICU?

[2020-03-24 22:50] ivan-aksamentov commented on #159
@keevcodes yes!

[2020-03-24 23:43] ivan-aksamentov commented on #109
Continuing https://github.com/neherlab/covid19_scenarios/issues/16

I've setup a section in README.md, and a separate `.md` file to include into the app. Plus a PR bot and and added `all-contributors-cli`. But it seems that we now need to populate the array of contributors and their contribution types somehow

Do you know a way how to automatically gather `allcontributors` data from the existing c

[2020-03-24 23:58] rcbevans commented on #17
I am triggering a debounced run from statechanges to scenarioState using the useEffect hook, which is effectively the same as onChange.  The change to debounced the onValidate was to improve the performance of the UI when toggling custom values since it's doing four deep object comparisons on *each* validate.  That change, in and of itself, is unrelated to the implementation of autorun.

[2020-03-25 00:06] gj262 commented on #17
It looks like #170 & #171 are merged and so this can be closed now. Please re-open if I've missed something.

[2020-03-25 00:06] #17 closed

[2020-03-25 01:39] jsmith commented on #31
@ivan-aksamentov @brunorzn Ok I may look at experimenting with this and adding `io-ts` as a dependency. I think it would be beneficial to ensure that sharing is done correctly. I think the work I do here may be useful for some of the work you describe in #111 (ie. saving to local storage, server, etc).

For example, if you save a run to local storage and come back later, `io-ts` will deserialize t

[2020-03-25 04:26] rcbevans commented on #158
I'll pick this up, looks like d3 already has everything we need.

[2020-03-25 06:27] miksa1987 commented on #159
@ivan-aksamentov @keevcodes I think this could maybe be done with media queries and customized Tooltip content in Recharts. I was thinking about dividing the content to two columns in mobile, so it wouldn't be as tall as it is now. I can experiment with this today. We just need to be careful to not make it too wide to not overflow the screen horizontally.

[2020-03-25 06:34] keevcodes commented on #159
@miksa1987 are you wanting to take care of this now? A two column layout would certainly help, however maybe setting an opacity to .6 or .7 to the toolbar could help?

[2020-03-25 06:38] miksa1987 commented on #159
@keevcodes Yeah, I can take this, as it's related to my PR I'm working on: [#157](https://github.com/neherlab/covid19_scenarios/pull/157)

I'm not completely sure about setting the opacity, but I can experiment with that too.

[2020-03-25 07:00] albin-attentec commented on #187
I havs seen similar effects on the data-set for sweden, but only if i do one simulation after the other without reloading.
I belive this supports your theory @nnoll

[2020-03-25 08:14] nielsenko commented on #187
I have tried the preview (https://covid19-scenarios-git-fix-interpolation.covid19-scenarios.now.sh). It is much better but still not perfect.

Fx, running default parameters with CHE-Basel-Stadt, and then extending simulation time range until 1st of January 2021, gives a difference in accumulated deaths on the 31st of August of 1760 vs 1775.

[2020-03-25 09:15] ivan-aksamentov opened #198 "Internationalize and humanize numbers (at the same time)"
# 🙋 Feature Request

Now that the numbers are displayed in a human-readable form, would be nice to also make them internationalized.

## 🔦 Context

## 😯 Describe the feature

It is hard to describe all the requirements specifically, without knowing the languages. This should be covered by a library.

## 💻 Examples

Here is an non-exhaustive list of requirements:
 - [ ] in some locales comma is use

[2020-03-25 09:21] ivan-aksamentov opened #199 "Results plot is broken in German and Portuguese translation"
# 🐛 Bug Report

Results plot is broken in German and Portuguese translation

## How to reproduce

Steps to reproduce the issue:

 1. Clear local storage. Open the application in a browser. Confirm the disclaimer.

 2. Run the algorithm. Observe results plot is functioning normal.

 3. Switch to German locale. Observe results plot is broken.

 4. Same for Portuguese.

## 😯 Current Behavior

In Germ

[2020-03-25 09:34] ivan-aksamentov opened #200 "IMPORTANT: Changes in severity table do not trigger autorun"
# 🐛 Bug Report

When autorun checkbox is enabled, changes in the form or in mitigation graph correctly trigger autorun. However, when values in severity table are edited the run not triggered. The "Run" button is also disabled in this case, so there is no way to manually trigger rerun.

## How to reproduce

Steps to reproduce the issue:

 1. Open the application in a browser

 2. Check autorun che

[2020-03-25 10:01] ivan-aksamentov commented on #101
@patrikvarga Thanks Patrick! I really enjoyed your focused PRs. It's a pleasure to see a green merge button on a PR, and yours were all green :)
Also these have improved quality of code significantly.
I am  looking forward to see more of your contributions!

[2020-03-25 10:12] ivan-aksamentov commented on #11
@gj262 Gavin, these are all interesting points!

For now we ignore algorithm changes. Until we announce some sort of a stable release assume that algorithm has breaking changes every day. Export now is mostly for users to be able to open the results in Excel or to continue with their workflow otherwise.

For the future we need to start thinking about a versioning scheme though, if we want to provi

[2020-03-25 10:25] ivan-aksamentov commented on #159
@miksa1987 as an additional feature, can you also align all numbers on the right side and remove columns (`:`) after names?  I think that will make it more readable, sort of like a table.

[2020-03-25 10:52] ivan-aksamentov commented on #142
Fixed in #179

[2020-03-25 10:52] #142 closed

[2020-03-25 11:01] miksa1987 commented on #159
@ivan-aksamentov it shouldn't be too big thing if my styling will work normally inside the Tooltip.

However I think If I divide the Tooltip into two columns on mobile, it could potentially have negative effect on readability. But on the desktop though, it might work well. Anyways, we should try this in action to see how it works.

[2020-03-25 13:37] rcbevans commented on #200
Sure.

[2020-03-25 13:39] rcbevans commented on #199
I'll take a look at this too.

[2020-03-25 15:59] rneher commented on #14
Let me try to flesh out a little more what I have in mind and what it would take to get there.

The basic idea is an interface of the sort
![image](https://user-images.githubusercontent.com/8379168/77556172-6d98f500-6eb8-11ea-982b-38b43bda2c1e.png)
The names of the measures don't really matter for the algorithm and could be chosen by the user. The last number is how much the measure reduces transm

[2020-03-25 16:53] gj262 commented on #198
Web standard Intl.NumberFormat would be good. Probably ` { notation: "compact" , compactDisplay: "short" }`.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat

[code]

Gives:
[code]

[2020-03-25 18:21] rneher commented on #199
this has a trivial fix, see PR #209

[2020-03-25 19:29] #199 closed

[2020-03-25 20:00] nnoll commented on #187
@nielsenko I think with the current method that the mitigation is input by the user - i.e. discrete points that have to be re-interpolated onto a different time-window upon update - this is the best accuracy we will be able to achieve, especially when it directly modifies an exponential growth rate.

When Issue #14 is finally implemented the remainder of this problem will resolve as we won't have

[2020-03-25 20:11] gj262 commented on #198
As @rcbevans points out in #210, this issue is not fixed and the 'humanized' totals are overly rounded!

[2020-03-25 20:45] nnoll commented on #172
The rates are set up such that the average time someone spends in an ICU, independent of the outcome, will be 14 days always. Playing with the individual fractions plays with the ratio of the rates of the 2 possible outcomes, recovery vs mortality, keeping the total rate fixed. No stochastic process is simulated as of now, but we are showing the average of what would be an poisson process with the

[2020-03-25 21:19] rcbevans opened #215 "User UI toggleable settings are not persisted"
# 🐛 Bug Report
User toggles such as autorun, log scales, and show humanized results are not persisted across page navigation/refresh.

## How to reproduce
Change a setting, refresh the page, observe that previous settings are not restored.

## 😯 Current Behavior
Settings aren't persisted across page reloads.

## 🤔 Expected Behavior
Settings should persist.

## 💁 Possible Solution
Persist UI config

[2020-03-25 21:24] miksa1987 commented on #159
@ivan-aksamentov Actually you were right, even though it's on 2 columns it's more readable when everything is aligned to the extreme sides. I just commited to my PR, I guess it is like you meant it?

[2020-03-25 22:18] rsharvill commented on #109
@ivan-aksamentov I'm looking into this!

[2020-03-25 22:19] ruisaraiva19 commented on #109
Sorry for a late comment here, I'm actually making a script to add all contributors to date.

[2020-03-25 22:29] nataliadgepi opened #218 "Exporting and visualization"
Hello,

Your tool is absolutely amazing. I would like to present it to exec ppl at hospital, those in charge of decision-making. I'm not a data viz expert, would it be possible to export the model output along with a pdf or worksheet /HTML with the interactive graph so that it could be used by others without having to enter the parameters all over again? Someone who saw it today was so impressed t

[2020-03-25 23:05] ivan-aksamentov commented on #109
@rsharvill @ruisaraiva19

These commands
[code]
should give the desired effect. It's just I don't know how to get all the names and contributions for the `add` command. There's probably no tool that can deduce the types from issues and PRs, it would meed machine learning with natural language processing and image recognition or something :)

So basically, I was looking for a tool that can facilita

[2020-03-25 23:13] ruisaraiva19 commented on #109
@ivan-aksamentov I was just starting using that package 👌.

[2020-03-26 00:08] ruisaraiva19 commented on #109
@ivan-aksamentov @rsharvill  PR ready for review.

[2020-03-26 01:57] ivan-aksamentov commented on #109
@ruisaraiva19 Merged!
Any ideas how to perform maintenance? How to not forget anyone and not to go crazy at the same time.

[2020-03-26 04:55] rcbevans commented on #181
One possibility would be to have an accordion stack of customize scenario cards within a new top level "scenario's" card.  The top level scenarios card would have an add button, which would collapse the currently expanded scenario, and add a new one ready to customize.  The "Scenario" header could be modifiable to name each scenario being worked on.  A previous scenario could then be switch to by

[2020-03-26 05:23] rcbevans opened #222 "Cloud based syncing/backup of scenarios/user preferences"
# 🙋 Feature Request
Add a mechanism of backing up/restoring using preferences and configured scenarios to the cloud for use across multiple clients.

## 🔦 Context
Roam my preferences and custom scenarios with me.

## 😯 Describe the feature
Add login/logout which will synchronize the values in LocalStorage to a cloud based data store.  On login, these cloud values will be pulled, replacing/merging

[2020-03-26 05:24] rcbevans commented on #111
I'll pick this up now.

[2020-03-26 05:36] ivan-aksamentov opened #223 "Replace autoscrolling with manually triggered scrolling"
# 🙋 Feature Request

I propose to remove current autoscrolling behavior. It is very annoying. I don't think anyone needs this on desktop.

In particular:
 - changing any form field scrolls on desktop (should not scroll at all)
 - blurring from severity table scrolls away from it, not allowing to continue the input into other fields (common case)

On mobile it's fine, but only because you cannot re

[2020-03-26 05:37] #200 closed

[2020-03-26 06:41] rcbevans commented on #111
@ivan-aksamentov got a PR up for review adding the functionality as described.

![Screenshot of export scenario dialog](https://user-images.githubusercontent.com/2041260/77617724-1879d500-6ef2-11ea-9fd2-6eb3ba2f24e4.png)

[2020-03-26 06:47] rcbevans commented on #223
I'll pick this up

[2020-03-26 09:23] ruisaraiva19 commented on #109
@ivan-aksamentov yes, I'm going to add a GitHub action workflow with `issueCreation`, `issueComment`, `prCreation`, `prComment`, `prReview` triggers to automatically open new PR with updated contributors list 🙂.

[2020-03-26 13:29] jc92 commented on #172
" independent of the outcome, will be 14 days always" does that mean a deceased person is still considered in the ICU up to 2 weeks?

[2020-03-26 14:33] Chrisx68 opened #229 "Outcome Population average"
Thanks for this tool,, you all did a great job! Please find below a potential bug:

# 🐛 Bug Report
The Mild% result seems not to be correct.

## How to reproduce
Steps to reproduce the issue:
 1. Open the application in a browser, run any default scenario.
 2. Modify Severity assumptions and age-specific isolation table in a way that each age group has identical parameters:
 3. Use the following p

[2020-03-26 15:11] rneher commented on #229
Thanks, @Chrisx68, for pointing this out. You are right, the figure for 'mild' should be 1-'severe' but we in addition subtract 'critical'. We'll fix this asap.

[2020-03-26 16:36] #182 closed

[2020-03-26 16:41] noleti opened #231 "Narratives / Analysis"
# 🙋 Feature Request

I really like the "narratives" of nextstrain.org (which I understand shares project members with this project). In particular, small writeups of experts analyzing particular datasets or aspects. I realized similar things might be possible with the covid19_scenarios, now that exporting/ URLs with configurations are supported. Maybe some people already did similar writeups elsew

[2020-03-26 16:46] #229 closed

[2020-03-26 17:18] ivan-aksamentov opened #233 "Improve readability of the results graph tooltip"
# 🙋 Feature Request

### Presence
Currently lines in the tooltip appear and disappear depending on a value of a particular point on x axis. Making focusing on a particular line difficult. In particular, a line "ICU overflow" disappears when zero. Same with all "Confirmed" lines.

### Color
Additionally, some of the entries are colored such that they don't have a sufficient contrast on the white ba

[2020-03-26 18:06] ivan-aksamentov opened #234 "Improve positioning and movement of the results graph tooltip"
# 🙋 Feature Request

Currently the tooltip positioning is very chaotic. The smooth animations sometime work fine, sometimes the tooltip jerks and twitches like crazy.

![Peek 2020-03-26 18-26](https://user-images.githubusercontent.com/9403403/77680312-12d4cb80-6f94-11ea-93e0-b7103a44f269.gif)

## 🔦 Context

## 😯 Describe the feature

This feature require some tweaking and checking the overall UX.

[2020-03-26 18:30] #111 closed

[2020-03-26 18:45] #223 closed

[2020-03-26 19:06] ivan-aksamentov commented on #231
@noleti Yep, I've been thinking about it too.
If we venture into server territory, we might have other people's results available fpor viewing. Possibly maybe with some chat/comment-style discussion attached.

However, I'don't know if we'd have time for full-blown narratives.
If we will can we count on your participation in terms of user experience ideas and the actuall writeups?

[2020-03-26 19:09] rneher opened #345 "Brazil regions for populationData.tsv"
We have the country Brazil now, but the smaller divisions are missing. We have case data for them already. Maybe @gstvribs can help?

[2020-03-26 19:24] #187 closed

[2020-03-26 19:30] lizzwestman commented on #231
**Suggestion:**

Has anyone written out/mapped the storytelling version of the arc and flu narrative for those who have survived the infection from start to finish? It should be there for a baseline from those who are confirmed to have it.

It also should include versions from those assumed to have it but have not had access to tests yet --> **THIS PART HAS TO BE CLEARLY STATED AS A PRESUMPTION ON

[2020-03-26 19:30] nnoll commented on #172
No, they will be removed whenever the transition to a new state. I was reporting the mean time, independent of final outcome. I'll close this issue in the interest of housekeeping, but I urge you to ping me on Spectrum to continue the discussion :)

[2020-03-26 19:30] #172 closed

[2020-03-26 19:36] nnoll commented on #116
@alo8 have you had more time to think about this? We've updated the core simulation data structure that should make this easier to submit a pull request so we can compare results if you feel up for it.

[2020-03-26 19:38] nnoll commented on #218
Related Issue #110

[2020-03-26 20:13] GD-ZH commented on #18
Hi!
Great easy-to-use model you have createt! I have two questions:
1. The colour of the "confirmed cases"-dots and the "infectious"-line match like the "deaths" dots and lines. However in my understanding they should not fit because not all the infectious cases are reported. Is this understanding correct?
2. when i download a csv file, I get a file without commas. Is this possibly a bug?
Keep up

[2020-03-26 22:35] kmid5280 commented on #234
@ivan-aksamentov A few questions:
- Which animations are you currently aware are happening within the application?
- Can you provide steps to reproduce the issue with the z-index, where the text on the graph obscures the tooltip?
- You mentioned numbers in the tooltip. Which numbers are you referring to and what changes would you prefer?

[2020-03-26 23:48] ivan-aksamentov commented on #234
@kmid5280

This issues is specifically about results plot tooltip. And I don't know which animations are enabled there. I think the default ones that come from the plotting library.

You just move mouse around until the tooltip is positioned such that it goes outside of the plot on its bottom part:

![Screenshot from 2020-03-27 00-44-28](https://user-images.githubusercontent.com/9403403/77707002-3

[2020-03-27 01:31] kmid5280 commented on #234
@ivan-aksamentov I wasn't able to reproduce the issue with the tooltip overlapping the bottom of the chart, but I do see that the tooltip will "drift" over the bottom for a brief second in some cases before traveling up. What may be happening is that the default animation of the tooltip is leading it to get "stuck" in some cases in positions it shouldn't be in. I found that for the Tooltip compone

[2020-03-27 01:50] lordrip commented on #20
@gj262 the branch is uploaded, I think that you can test now here

🔍 Inspect: https://zeit.co/covid19-scenarios/covid19-scenarios/h7vgy31b1
✅ Preview: https://covid19-scenarios-git-fork-lordrip-cra.covid19-scenarios.now.sh

or build locally :) thanks in advance!

[2020-03-27 05:19] ivan-aksamentov commented on #18
@GD-ZH  Hi Stefan,

1. I will let our scientists @nnoll and @rneher to address that

2. Yes, sort of. It is a `.tsv` (tab-separated values) file but named as `.csv`. We switched some time ago but forgot to rename. I will fix that.

P.S. Feel free to also join our chat at this link:
https://spectrum.chat/covid19-scenarios

[2020-03-27 06:08] noleti commented on #231
Right, in my mind it would be less about symptoms of covid-19, and less about personal stories (but that could be up to the person writing this/publishing this on their site). The severity assumptions should be mentioned - i.e. only 5% or all 10-19yo are assumed to be confirmed, for example (somewhat relating to testing availability). The delay between infection and symptoms/infectious period coul

[2020-03-27 06:28] noleti commented on #154
Another related point I realized re: matching observed infected to predicted infectious: real-world infectious measurements are likely by symptom-driven testing factor 5-10 times lower than the yellow line. This might confuse people who try to match predicted and observed infectious.

As detailed in the severity assumptions, for some age groups only 5-15% of cases show symptoms (but are still infe

[2020-03-27 10:28] noleti opened #250 "Direct links from outside the app not working"
# 🐛 Bug Report

A visit to https://neherlab.org/covid19/about from outside the app results in a 404 response, likely because the webserver does not know to redirect to the app?

## How to reproduce

Steps to reproduce the issue:

 1. Open https://neherlab.org/covid19/about in a browser
 2. Server will return 404

## 😯 Current Behavior

## 🤔 Expected Behavior

About page of the app should appear

#

[2020-03-27 15:41] rneher commented on #250
Yes, this is a problem with out current hosting situation. this will be resolved when we move to a proper domain. Should happen very soon!

[2020-03-27 15:44] rneher commented on #154
We are planning to fit to the reported number of deaths. The discrepancy between the increase in confirmed cases and the yellow line would then correspond to under-reporting. Maybe we should differentiate them by using different colors. Having reasonable parameters for initial Condition and R0 are on top of the list!

[2020-03-27 17:51] gj262 commented on #20
Hi Ricardo, @lordrip, I'll give #188 a run today. I need to repair my windows env first though. Looking @saucelabs.
It would be good to confirm that #188 fixes the issue, however the PR is quite large and touches on a lot of areas that are not related to getting IE10 working. Probably they were required to get CRA working. I'd love to see a PR that just fixes that issue. I started poking around at

[2020-03-27 18:32] lordrip commented on #20
Yes, unfortunately, since the project has TypeScript not directly together with the build, there's several situations that needs to be fixed in order to be compiled with CRA.

My reasoning behind this is since I couldn't make it work directly with polyfills, then I've tried to migrate it CRA. In any case, I understand it, I'll decline the PR and I'll be waiting in case I can help with something el

[2020-03-27 18:46] nnoll opened #344 "Discussion: Include county-level data?"
The New York Times has open sourced all their data here:
https://github.com/nytimes/covid-19-data

This includes country level information, which I know we have for Canada already. Up until now we haven't used such granularity in the data. I think we should start to have a discussion for what information/data should we realistically provide to the user of covid19_scenarios?

I think it may be usef

[2020-03-27 20:48] ManuelB commented on #218
I created a simulation based on localized data for Germany including a visualization with kepler.gl:
https://github.com/ManuelB/covid-19-vis

A video how to create your own is here:
https://youtu.be/lwUDvNfVeEo

For the newest status I added real-time data and  validated the simulation with hospital beds on district level:
https://kepler.gl/demo?mapUrl=https://raw.githubusercontent.com/ManuelB/cov

[2020-03-27 20:53] ManuelB commented on #69
I have collected a lot of data for Germany:

https://github.com/ManuelB/covid-19-vis/tree/gh-pages/germany

It is used to run a full simulation for 417 districts in Germany and runs on the command line.

Details what I am doing in described here:
https://youtu.be/lwUDvNfVeEo

If the data is integrated into the data repository it would show more than 400 items in the select box. I would think this

[2020-03-27 21:09] kimuraz commented on #148
Hi, can I work on this issue? * I'm not a designer*.  I've been working with frontend development for a while and saw some opportunities to adopt patterns that are commonly used on some other applications. If approved, I'd be glad to implement it.

Two points that concerns the whole application, would be:
1) Add a padding-top for all the containers with `20px`, making the spacing between the navba

[2020-03-27 21:26] nnoll commented on #69
That's really cool @ManuelB. Thanks for sharing.

[2020-03-27 22:00] gj262 commented on #20
Some progress!
![0008screenshot](https://user-images.githubusercontent.com/6854428/77803964-a9a89300-703b-11ea-854b-6ef9a1171f50.png)

[2020-03-27 22:04] gj262 commented on #20
The Map error is caused by loading 'map.prototype.tojson' before the main entry point.

https://github.com/neherlab/covid19_scenarios/blob/29ef1877d7dcede9313bcfcd5e1766fb446963d6/config/webpack/webpack.client.babel.ts#L87

Given that redux is not really used in this project, it is probably safe to just remove that.

There are other missing polyfills that I need to work through to get a working IE

[2020-03-27 22:47] ivan-aksamentov commented on #148
@kimuraz , sure, go ahead!
Make sure you roughly align the style with https://github.com/neherlab/covid19_scenarios/pull/195

(preview: https://covid19-scenarios-kr9r4tzcm.now.sh/)

You may save some time and take the team snippet from
https://github.com/neherlab/covid19_scenarios/blob/master/README.md#initial-development
feel free to use MDX for pages or just components as well.

You can also add

[2020-03-27 23:13] reitzig commented on #18
I miss _any_ indication of confidence. Either in the statistical sense, or something along the lines of applying the model with a similar "prefix" of the date to a past pandemic, or even China during this one. If the model can't predict known data, I'm less inclined to believe in it's predicions.

[2020-03-27 23:14] gj262 commented on #20
Something in the tsc/babel/webpack chain is leaving/putting a 'const' in the output bundle. Don't know why. 😢
![0002screenshot](https://user-images.githubusercontent.com/6854428/77807742-fdb87500-7045-11ea-83a6-e20607f3d598.png)

[2020-03-27 23:16] ivan-aksamentov commented on #20
@lordrip  @gj262 I am handling this. I moved redux visualizers below polyfills, so the Map problem is solved, but there are couple more errors on IE10.

We may opt-out from selective polyfilling and code-splitting and just include the whole `core-js` as CRA does, but I don't want to increase bundle size because of 1% of people who are still on IE. Neither I want to revamp the entire build system b

[2020-03-27 23:22] gj262 commented on #20
I changed the polyfiller in my WIP load all core-js to get to the point above.
[code]

[2020-03-27 23:56] nnoll commented on #18
This is because, in it's current form, the model is fully deterministic: you give it a set of input parameters and it will produce an estimate for the expected number of individuals in each class over time. You are right that this has no uncertainty displayed currently.

You should note that our model is not fit to case counts yet (this should be finished soon). You can certainly fiddle with param

[2020-03-28 00:01] nnoll commented on #231
@lizzwestman I think @noleti was using narratives as a slightly more technical version of the term than is typically used colloquially. Narratives, as used by nexstrain.org, are a way in which researchers can create curated explorations of a given dataset, within the context of the tools of the site, to highlight particular features to a broad audience. It is not about hosting stories of those who

[2020-03-28 00:17] ivan-aksamentov commented on #107
Some more ideas spontaneously emerged here
https://github.com/neherlab/covid19_scenarios/pull/163#pullrequestreview-383260554

So I'll reopen

[2020-03-28 01:16] #18 closed

[2020-03-28 01:57] ivan-aksamentov opened #258 "ANNOUNCEMENT: We've got GitHub Discussions!"
GitHub folks were very nice and allowed us to joining their Discussions beta.
You can find them in the tab above, just to the right from "Issues" and "Pull requests", or here:

<p align="center">
<a href="https://github.com/neherlab/covid19_scenarios/discussions/new">START NEW DISCUSSION</a>
</td>
</p>

[2020-03-28 02:00] ivan-aksamentov commented on #250
@noleti Thanks, I confirm this is fixed on the master branch. We announce the new deployment soon™ :)

[2020-03-28 02:00] #250 closed

[2020-03-28 04:25] ivan-aksamentov commented on #147
Fixed in #186

[2020-03-28 04:25] #147 closed

[2020-03-28 05:01] kmid5280 commented on #233
@ivan-aksamentov Regarding making the color scheme accessible, I found a way to make the lines dotted. We could potentially take similarly-colored lines and make them dotted or solid, or find other ways to differentiate them. Would that be a good start?

![dotted lines](https://user-images.githubusercontent.com/35879775/77815254-d9c55580-707e-11ea-9770-90e1a470a2f5.png)

[2020-03-28 07:37] kimuraz commented on #148
On it @ivan-aksamentov, will post some updates here when need. Thanks for the guidance.

[2020-03-28 13:46] #101 closed

[2020-03-28 13:53] ivan-aksamentov commented on #233
@kmid5280 Hm, I am not sure.  Dotted lines change semantics, so that should be coordinated with our science team.
I summon @rneher  and @nnoll ! :sparkles:

[2020-03-28 15:37] MikaMaracuja opened #265 "yarn install ERROR - no such file or directory"
# 📚 Documentation
I have followed the installation routine and had a yarn version (1 < version <  2), but this did not work for me.

This got the installation running finally:
sudo apt remove cmdtest
sudo apt remove yarn
curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
sudo apt-

[2020-03-28 15:40] #198 closed

[2020-03-28 16:29] ivan-aksamentov commented on #265
@MikaMaracuja  you should never install node or yarn through apt or other OS package manager in the first place, because:

 - they are always obsolete there
 - global package installation requires root, because node is installed into a system directory
 - installing multiple versions is impossible

We recommend using [nvm](https://github.com/nvm-sh/nvm) instead.

[2020-03-28 16:29] #265 closed

[2020-03-28 16:35] nnoll commented on #116
@alo8 I'll close this issue but I welcome a pull request with your enhancements if you get around to this!

[2020-03-28 16:35] #116 closed

[2020-03-28 17:12] rneher opened #343 "Improve interaction with the app"
The primary purpose of this repo is to aggregate parsers and sources to be used in [`covid19_scenarios`](https://github.com/neherlab/covid19_scenarios) where it is included as a submodule.

In PR https://github.com/neherlab/covid19_scenarios/pull/267 automated updating of the app is discussed and one issue is robustness. Suggestions are

  * separate parsing and tsv generations from json generatio

[2020-03-28 19:02] maktarsis commented on #150
@rcbevans @ivan-aksamentov
is this still relevant?

if so, I can take this

by the way, there are no benefits from unchunk NotFound page but I agree about Home page.

[2020-03-28 19:07] jc92 opened #273 "Confirmed cases field is not loaded for Populations with spaces in their names ?"
# 🐛 Bug Report

When selecting populations with spaces, e.g. CHE-Appenzell Innerrhoden, CHE-St. Gallen,  CHE-Appenzell Ausserrhoden "Confirmed cases" is empty

## How to reproduce
Steps to reproduce the issue:

 1. select CHE-St. Gallen as population.

## 😯 Current Behavior

 Confirmed cases is not loaded and "None" is displayed

## 🤔 Expected Behavior

Confirmed cases with respective Location sho

[2020-03-28 19:18] maktarsis commented on #119
@ivan-aksamentov can you clarify what do these terms mean "change values on the right" and "observe on the left"

I mean like here in the screenshot, only in reverse order, right?
https://prnt.sc/rohsip

[2020-03-28 19:57] thoo1 commented on #234
Thoughts on having a UI that combines the stats of each legend item and the legend itself?

Eg the number is displayed alongside the legend and is separate from the cursor

[2020-03-28 20:10] tryggvigy opened #342 "Improved dependency management"
- As a contributor I would like to quickly install the required dependencies to start working after cloning.
- As a maintainer I would like have explicitly declared, version frozen dependencies that I can audit for security issues.

I don't use python often. When I cloned the project and tried to generate date for the first time, I saw I had missing dependencies. I set up https://github.com/pypa/p

[2020-03-29 00:04] ivan-aksamentov commented on #273
@jc92 Confirmed. Will investigate ASAP.
Thanks for the report!

[2020-03-29 00:20] ivan-aksamentov opened #281 "Introduce custom Jest snapshot matchers"
# 🙋 Feature Request

Introduce a set of custom Jest snapshot matchers that could work for our assertions better.
https://jestjs.io/docs/en/expect#custom-snapshot-matchers
https://github.com/maasencioh/jest-matcher-deep-close-to

We use a lot of floating point numbers and they are not correctly compared by default matchers.

It is preferred to not go too deep into the app-specific data structures a

[2020-03-29 01:08] ivan-aksamentov opened #282 "Move data back into the repo"
# 🙋 Feature Request

Right now the data submodule introduces more problems than it solves.

## 🔦 Context

All our initial considerations "pro" submodule are now invalid:
 - keep data updates separate because they bloat the repo. Does not matter, you clone both repos in all cases anyways.
 - keep issues and PRs separate to not mix them up. Does not matter, data repo has like 2 PRs a week. Also it r

[2020-03-29 01:23] ivan-aksamentov opened #283 "Introduce a unified type schema"
# 🙋 Feature Request

We need to have a way to ensure on build-time that the changes introduced between data processing and the aligned. Right now the only way s to discover the issues on runtime (whether in development of later on in the deployed app).

## 🔦 Context

Currently Typescript side have a set of typings written manually. Python side has a set of matching classes written manually. All th

[2020-03-29 01:58] rcbevans commented on #150
Yeah, NotFound (hopefully isn't something people will be seeing, but unchunking Home and the splash screen at least would be good, since those are the two that everyone would be expecting to see.

[2020-03-29 02:14] ivan-aksamentov commented on #150
@rcbevans @maktarsis I would concentrate on more useful stuff.

Also, splash will probably be seen  only once, until the "skip" checkbox is checked. But none of this matter, because with HTTP2 it is really a drop in the bucket.

[2020-03-29 02:16] ivan-aksamentov commented on #119
@maktarsis Right. Mixed up the two.

[2020-03-29 02:19] ivan-aksamentov commented on #234
@thoo1 Yeah... maybe. I'm not a giant UX specialist.
It will probably take a lot of space. Especially on mobile, might be awkward.
Not a top priority right now, but feel free to try!

[2020-03-29 02:29] ivan-aksamentov opened #284 ""Expand" the results panel"
# 🙋 Feature Request

I want to discuss the possibility of "zooming in" to a particular parts of the application. In this case, the results card and results plot.

## 🔦 Context

"Results" panel is the most important one. It's a heart of the app. But depending on screen size there are usability issues.

Even on large screens:
 - the results plot occupies less than 1/4 of the screen real estate
 - al

[2020-03-29 02:29] ivan-aksamentov commented on #234
I was also thinking about "zoom the results" feature: https://github.com/neherlab/covid19_scenarios/issues/284

[2020-03-29 02:35] ivan-aksamentov commented on #284
Alternative or a complementary implementation is to collapse the "Scenario" panel when no longer needed.

Even more aswesome is to move the layout from hardcoded bootstrap grid to something dynamic like
https://github.com/STRML/react-grid-layout
with fdragable, resizeable and expandable/zoomable panels

[2020-03-29 02:57] rcbevans commented on #284
I think having an "expand" on each of the three result graphs is a very easy start to make exploring the results easier;  could start with that, then move to a more flexible/dynamic layout.

I'll work on an expand now.

[2020-03-29 05:51] t-eckert opened #285 "Typos in FAQ"
# 🐛 Bug Report

Noticed a few misspellings in the FAQ portion of the site.

## How to reproduce

Load the FAQ page on the site.

## 😯 Current Behavior

The second answer includes the following spelling mistakes (in bold):

**COVID19** cases in critical condition need intensive care for a long time. Our model assumes that they spend on average **14days** in the ICU. The **severly** ill (our proxy f

[2020-03-29 06:33] maktarsis commented on #234
@ivan-aksamentov

from my point of view, the best experience we can achieve is to get rid of tooltip on the chart and place it somewhere near the chart which will be visually accessible from any device.

Proposal clarification:
1) place a box nearby
2) display only when the mouse (finger) on the chart (or always)
3) show data dynamically considering where the mouse (finger) at the moment

[2020-03-29 06:35] rcbevans commented on #284
@ivan-aksamentov I have a prototype that would allow displaying the entire result card body, or individual charts 'maximized' in a modal dialog, launched by clicking the 'expand' arrows beside the title of the component to be expanded.

![Screen shot showing the expand icon by the results header](https://user-images.githubusercontent.com/2041260/77842919-aa7d1a00-714c-11ea-87b2-27d8b8e12761.png)

[2020-03-29 06:38] maktarsis commented on #234
I like the way it is implemented on small screens
https://prnt.sc/ropm71

✅ faster
✅ bug-free
✅ less frustrated and annoying

I just suggest placing it to the left of the chart for large creens

[2020-03-29 07:18] rcbevans commented on #273
Not sure if you got around to looking at this @ivan-aksamentov.

The problem is that spaces in `scenarios.json' are being represented by `\u00a0` which is a no break space, and the spaces in `case_counts.json` are being represented by `\u0020`, which is a  regular space.  Javascript comparison sees the two as different, and so the spinner etc see the property as undefined.

Running a find and repl

[2020-03-29 07:26] #215 closed

[2020-03-29 07:41] miksa1987 commented on #284
@ivan-aksamentov Could the cards in Scenario panel be made collapsible like the severity card? I'd imagine it would improve user experience by reducing the amount of scrolling around.

[2020-03-29 07:53] rcbevans commented on #284
@miksa1987 problem is the layout is currently split 50/50, between scenario and results, and even if the scenario cards were collapsible, that wouldn't help much with the lack of space for results.  It would make it easier if you're changing severity values, whilst trying to watch live updating graph values.

Another idea... It'd be pretty easy to 'pop' the results card out of the primary browser

[2020-03-29 08:10] miksa1987 commented on #284
@rcbevans I think splitting the cards in different windows is pretty nice idea. How would you go about it? I've no experience with that kind of things.

[2020-03-29 08:14] rcbevans commented on #284
It's very easy using [portals ](https://reactjs.org/docs/portals.html).  There is a fairly well used library called [react-new-window](https://www.npmjs.com/package/react-new-window)  which makes popping components out very simple, and best part is they can share state the same state, so autorun and re-render can still work between windows.

I'm about to head to bed; feel free to have a play.  Let

[2020-03-29 08:19] miksa1987 commented on #284
@rcbevans I'm going to have a look into it. I'll let you know if I get something sensible out of it.

[2020-03-29 09:44] maktarsis opened #287 "e2e tests broke"
# 🐛 Bug Report
After adding the landing page all e2e tests don't work at the moment

## How to reproduce

Run `yarn e2e:dev`

## 😯 Current Behavior
Tests don't work

## 🤔 Expected Behavior
Tests work.

## 💁 Possible Solution
I'm working on it now.

## 🔦 Context
The system should not have broken tests in `master`

## 🌍 Your Environment

| Software         | Version(s) |
| ---------------- | -------

[2020-03-29 10:06] maktarsis commented on #285
I suggest creating PR and link to this issue
and the maintainer will already decide whether he needs it or not

[2020-03-29 11:57] ivan-aksamentov commented on #283
Come back later: centralizing Local Storage https://github.com/neherlab/covid19_scenarios/pull/286

[2020-03-29 13:52] sourlier opened #289 "Automatic bestfit of the model-parameters in such a way that the past"
# 🙋 Feature Request

## 🔦 Context

## 😯 Describe the feature

## 💻 Examples

## 💁 Possible Solution

## Related

 -
 -

[2020-03-29 13:55] sourlier opened #290 "automatic bestfit of the past: automatic choose of all unknown parameter in such a way that the past is modelled in the best way, nearest to the already known data points"
# 🙋 Feature Request

## 🔦 Context

## 😯 Describe the feature

## 💻 Examples

## 💁 Possible Solution

## Related

 -
 -

[2020-03-29 13:58] #289 closed

[2020-03-29 17:21] miksa1987 commented on #284
I'm experimenting with the react-new-window library, and I got the rudimentary logic down: A boolean in UI state for multi window, and a NewWindowWrapper component with a bit of conditional logic for toggling the window. But for the life of me I can't figure out where I should wrap the ScenarioCard inside NewWindowWrapper without Reactstrap exploding. It seems to lose all the help tooltips when I

[2020-03-29 19:29] SharanBabu commented on #181
I have been working on a design. I understand you already have implemented this using tabs. But in this design, I have created a separate page for all 'Saved scenarios' and have rendered the scenarios as '[Adaptive cards](https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/javascript/render-a-card)' which I think will be better for mobile. Let me know what you think.

![image](http

[2020-03-29 19:51] gj262 commented on #181
Hi @SharanBabu,

I like that. I see the work I'm doing in this PR as a foundation for whatever UX best fits the core Neherlab workflows. https://github.com/neherlab/covid19_scenarios/issues/11#issuecomment-600076600 for instance talks about being able to compare scenarios which would be something to incorporate into your Save Scenarios view.

One feature I like about Tabs is that I can quickly swi

[2020-03-29 20:04] SharanBabu commented on #181
Ok, once your PR is merged, I will start working on incorporating this view. I agree with you on the ability to switch back and forth between scenarios easily with tabs. But I think the user can still do the switching by opening multiple scenarios in multiple browser tabs (or even side by side with multiple windows).

[2020-03-30 01:35] #285 closed

[2020-03-30 08:53] noleti commented on #154
Another point on real-data points vs simulated (adding here because related): The real-world hospitalized/ICU count will never go down, as we require the data to be cumulative. The simulated hospitalized/ICU count is 'current hospitalized/ICU'. So the real-world data hospitalized and ICU might need a filter with appropriate window length as well?

[2020-03-30 14:07] brunorzn commented on #117
see discussion #304

[2020-03-30 15:21] rneher commented on #290
we are working on this...

[2020-03-30 15:27] kbobrowski opened #307 "editing number of points for mitigation curve may throw "Containment cannot be empty""
# 🐛 Bug Report

## How to reproduce

Steps to reproduce the issue:

 1. Open the application in a browser
 2. Remove Number of Points value with backspace
 3. Wait until mitigation curve disappears
 4. Type anything in number of points field (e.g. '5')
 5. Check if "Containment cannot be empty" is thrown

## 😯 Current Behavior

Error
Containment cannot be empty
Call Stack
 interpolateTimeSeries
  

[2020-03-30 15:29] rneher commented on #273
I see. It works for `USA-New York`. To this probably happens due to a mismatch here:
https://github.com/neherlab/covid19_scenarios_data/blob/master/parsers/switzerland.py#L12
and here:
https://github.com/neherlab/covid19_scenarios_data/blob/master/populationData.tsv#L61
I'll fix in the data repo.

[2020-03-30 15:49] rneher commented on #273
should be fixed in
https://github.com/neherlab/covid19_scenarios_data/commit/df9432241e3122fadd60a8997c5289d7f123b0af

[2020-03-30 15:49] #273 closed

[2020-03-30 17:13] cesarbrizio opened #309 "Hospital Beds and ICU/ICMU - Regular Occupancy"
First of all, I'd like to thank you guys for this magnificent work

The simulator doesn't take into account the Hospital Beds and ICU/ICMU beds that are already occupied by that time
And also consider that are no more regular hospitalizations caused by any other disease
Those numbers matters because when we are trying to figure out when the hospital infrastructure will be overwhelmed those others

[2020-03-30 17:48] ressel opened #311 "No result calculated if Confirmed Cases = None"
Cool tool. Thanks a lot :thumbsup:

# 🐛 Bug Report
If input field "Confirmed cases" is set to "None", there is no result.

![Confirmed_Cases_None_Issue](https://user-images.githubusercontent.com/11699383/77944017-788bc500-72be-11ea-8de2-d700d0fb0cfd.JPG)

## How to reproduce

Steps to reproduce the issue:

 1. Open the application in a browser
 2. Set Confirmed cases to "None
 3. Run.

## 😯 Curren

[2020-03-30 18:13] ressel opened #312 "ICUs = 0 does not plot data"
Cool tool. Thank you! 👍

# 🐛 Bug Report
If number of ICUs is set to zero, no data is plotted.

![ICU_Zero_Issue](https://user-images.githubusercontent.com/11699383/77946308-60b64000-72c2-11ea-9fbb-567eebd1a44b.JPG)

## How to reproduce

Steps to reproduce the issue:

 1. Open the application in a browser
 2. Set ICUs to 0.
 3. Run

## 😯 Current Behavior
Simulated data is calculated.
Data (both sim

[2020-03-30 18:55] guandiyiyi commented on #110
@ivan-aksamentov, did we try solution of https://www.npmjs.com/package/react-pdf ? If not, I can give it a try and circle back if this solution work.

[2020-03-30 18:56] ivan-aksamentov commented on #312
Confirmed. Thanks for the report.
Just to clarify, are you trying to simulate a scenario where there are no ICU beds in the region?

[2020-03-30 19:03] #307 closed

[2020-03-30 19:12] nnoll commented on #312
This is a log(0) bug. We should add a check if any bed number is set to 0 and just not show it if it is.

[2020-03-30 19:49] ressel commented on #312
Yes, exactly.Thanks for your quick reply.Keep up the good work.
-------- Original message --------From: Ivan Aksamentov <notifications@github.com> Date: 3/30/20  20:56  (GMT+01:00) To: neherlab/covid19_scenarios <covid19_scenarios@noreply.github.com> Cc: ressel <ressel@gmail.com>, Author <author@noreply.github.com> Subject: Re: [neherlab/covid19_scenarios] ICUs = 0 does not plot data (#312)
Confir

[2020-03-30 20:17] kbobrowski opened #315 "bug after changing number of points for mitigation - first move of point bounces back"
# 🐛 Bug Report

## How to reproduce

Steps to reproduce the issue:

 1. Open the application in a browser
 2. Change number of points for mitigation curve
 3. Move one point
 4. Check that point bounced back to initial position --> error
 5. Move one point again
 6. Now it's fine

## 😯 Current Behavior

Point bounces back to initial position after changing number of points for mitigation curve

##

[2020-03-30 20:19] #312 closed

[2020-03-30 20:24] ivan-aksamentov commented on #312
@ressel This was fixed in pull request #314  .
Might take some time to be released to live server, but here is an early testing version for this specific fix:
https://covid19-scenarios-git-fix-log-zero-plots.covid19-scenarios.now.sh/

[2020-03-30 20:39] rneher commented on #311
Yes, I also just ran into this.

[2020-03-30 22:52] ressel opened #341 "Italian regions vs. provinces for Trentino-AltoAdige"
Italy consists of
20 regions (https://en.wikipedia.org/wiki/Regions_of_Italy) and
103 provinces (https://en.wikipedia.org/wiki/Provinces_of_Italy).

populationData.tsv does contain data for the 20 regions.

But case data is available for only 19 of these regions.  The one exception is Trentino-South Tyrol, where the case data for its two autonomous provinces P.A. Bolzano (South Tyrol) and P.A. Tre

[2020-03-30 23:05] #315 closed

[2020-03-31 02:30] nataliadgepi opened #320 "Link not working and website /app crashes"
# 🐛 Bug Report

Hello,
I was changing the parameters to the model I created, when I changed the end date the website crashed and the webpage that states "Error! Oops something went wrong" popped up. I keep trying to refresh and reenter estimates but it crashes when I changed the end date.

Secondly, when I went to the 'about' page from the app page, the link was broken. At times, the mitigation li

[2020-03-31 03:44] ivan-aksamentov commented on #320
Hi Natalia @nataliadgepi,

Thanks for the report!
It seems that you are having 3 separate issues (or even more), so let's consider them separately.

I think it may be that we just forgot to handle a particular case and these parameters got saved to the URL. So now every time you try this URL, the app restores the faulty params and things go bad again.

This sound like the same issue as reported he

[2020-03-31 04:00] ivan-aksamentov opened #321 "Warning: "grid-gap only works if grid-template(-areas) is being used" in production"
# 🐛 Bug Report

`autoprefixer` (ran by `postcss-loader` during webpack build) emits a warning in production

## How to reproduce

Steps to reproduce the issue:

 1. `yarn prod` of `yarn prod:watch`
 2. Wait for build to finish
 3. Observe the build log

## 😯 Current Behavior

[code]

## 🤔 Expected Behavior

No warning

## 💁 Possible Solution

 - use `grid-template(-areas)`?
 - don't use `grid-gap`

[2020-03-31 04:32] nataliadgepi commented on #320
Thank you for your quick reply and all your hard work. The model is working well now and the links work. I've modified latency and infectious period to get the curve that matches the data for now (although I'd rather have it fit to the expected values).

[2020-03-31 04:38] #311 closed

[2020-03-31 06:24] miksa1987 commented on #222
@rcbevans I could try implementing this? I think this could be done with Firebase auth and Firestore, as I find Firestore even easier to use than Realtime database.

Some points I'm thinking:
- There could be a users collection, where a document is created when user is created, with the document id being the user's uid.
- On logging in, the user's data is fetched from the document, which is found

[2020-03-31 06:38] rcbevans commented on #222
We might need someone at neherlab to create and maintain ownership of the firebase account.  @ivan-aksamentov?

Some things to think about:

The login/logout, and fresh start of data experience.
We'll need some kind of privacy policy, and GDPR compliance, allowing users to obtain/delete their data freely.

We want to be very careful around user credentials, if doing email/password based login (I a

[2020-03-31 06:39] rcbevans commented on #222
Also think about the multi-scenario, and consider that when designing the data structure.

Most important is ensuring that the firestore has role based access controls so users can only read/write their own user data.

[2020-03-31 06:41] rcbevans commented on #284
@miksa1987 Sorry I didn't get back to you, been busy with work.  Did you make any further progress?

If you have a branch, I'd be happy to take a look.

[2020-03-31 07:01] miksa1987 commented on #222
I could experiment with my own Firebase account, it could be probably easily switched to neherlab's by using environment variables. Of course, neherlab account should have auth and firestore ready when starting to use that.

Regarding user experience, I was thinking about a login/logout button somewhere on top of page, that would trigger a popup form for login(like the disclaimer when arriving to

[2020-03-31 07:07] ivan-aksamentov commented on #158
After some back and forth with libraries we ended up with `numeral` library.

`numeral` seems to be an abandoned library (last updated 3 years ago). And in particular there is a crash if you add `numeralLocale` for Polish, eve though polish locale seems to be present in `numeral`.

I found that `numbro` is a spiritual suceessor (originally a fork) to `numeral` with an old interface that is similar

[2020-03-31 07:11] miksa1987 commented on #284
@rcbevans No problem. I've been busy with stuff too.

Unfortunately, I didn't get further than my last message. For some reason, using react-new-window, putting the ResultsCard or ScenarioCard in new window seems to blow up Reactstrap's help tooltips. If you have an idea of what's going on, I'm listening.

[2020-03-31 07:14] rcbevans commented on #158
Alrighty,  I'll do a swap for numbro now.

[2020-03-31 07:24] rcbevans commented on #222
Working on your own is fine for dev, but need to make sure the build system is ready to provide an 'official' firebase auth key etc for preview builds/production deployments.

A lot of websites use a hero icon in the top right which you can click to bring down a context menu, or a side panel with some additional properties/settings and UI customizations.

The side pane could include login/logout,

[2020-03-31 08:08] miksa1987 commented on #222
Yes, that's why I was thinking about env variables. If done correctly, it should work for production/preview builds by just changing the variable values.

I could start by putting an icon in the top right, where the language toggle is. Clicking on it would toggle a menu, which would have the options you mentioned. I think the language toggle should be there too, as it's related to user settings.

[2020-03-31 08:48] #258 closed

[2020-03-31 12:25] rneher commented on #309
Thanks for your thoughts. The hospital beds are currently not actually used in the simulation. But the ICU capacity does affect the outcome. This number should be thought of as ICU available for COVID19 patients. We are thinking about how to give this more realism, but we are hesitant to make the model more complicated and add more parameters. will need to think about this some more.

[2020-03-31 13:04] dkozar commented on #284
@miksa1987 I've been playing with this task too (just to wrap my head about the project) and bumped into the same problem when using React.portal to popup the results panel.

It seems that [TooltipPopoverWrapper ](https://github.com/reactstrap/reactstrap/blob/47843998b627aadcccfe71b092a194197fd2ce15/src/TooltipPopoverWrapper.js)is not playing well with React portal.

![image](https://user-images.g

[2020-03-31 15:19] dkozar commented on #284
I think there is an even better usability pattern for our purpose than using a popup. Bear with me.

Similarly how the page renders on mobile (input and output one of top of other), we could render it on desktop. We would just **put the most important thing on top**, and that is **the graphs** (we would put the input parameters below).

This is a pattern similar to what YouTube does when the video

[2020-03-31 15:23] dkozar commented on #284
Not only this, but I think that initially the 2nd column doesn't need to exist, since there's nothing to show.

This means that we could display our input parameters using a full screen width. I re-arranged the display for demonstration:

![input](https://user-images.githubusercontent.com/1078403/78043790-b2ff6b80-736b-11ea-93c8-0b28ecec71f6.png)